{% extends 'Home/index2.html' %}
{% block contenido_index %}
    {% load static %}
    {% load productosTags %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <link href="/static/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <!--Crear direcciones de los establecimientos -->
    <div class="modal fade bs-example-modal-lg" id="registroColores" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Registro de Colores para los Productos</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="x_panel">
                        <div class="x_content">
                            <br>
                            <form class="form-label-left input_mask" method="post"
                                  action="/products/colors/{{ producto.id }}/">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="input-group demo2" style="padding-left: 10px; padding-right: 10px">
                                            <input type="text" value="#ffff" placeholder="#00000" name="color"
                                                   class="form-control"/>
                                            <span class="input-group-addon"><i></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-right" name="nombre"
                                           id="nombre" required="required"
                                           placeholder="Aquí el nombre del Color">
                                    <span class="fa fa-file-image-o form-control-feedback right"
                                          aria-hidden="true"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="ln_solid"></div>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar
                                        </button>
                                        <button class="btn btn-primary" type="reset">Limpiar Formulario</button>
                                        <button type="submit" class="btn btn-success">Registrar Datos</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="registroPrecios" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Registro de precios</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="x_panel">
                        <div class="x_content">
                            <br>
                            <form class="form-label-left input_mask" method="post"
                                  action="/products/prices/{{ producto.id }}/">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <input type="number" class="form-control" name="precio" max="999999999999999999" step="0.01" placeholder="0.00" onchange="setTwoNumberDecimal">
                                        <span class="fa fa-dollar form-control-feedback right"
                                              aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12  form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-right" name="detalle"
                                               id="detalle" required="required"
                                               placeholder="Aquí el detalle">
                                        <span class="fa fa-text-height form-control-feedback right"
                                              aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="ln_solid"></div>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar
                                        </button>
                                        <button class="btn btn-primary" type="reset">Limpiar Formulario</button>
                                        <button type="submit" class="btn btn-success">Registrar Datos</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <form data-parsley-validate="" class="form-horizontal form-label-left" method="post"
              enctype="multipart/form-data">
            <div class="row">
                {% csrf_token %}
                <div class="col-md-6 col-sm-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><small>Registro de Productos</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">Nuevos Productos</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a class="dropdown-item" href="/products/new/"><i
                                                class="fa fa-plus-circle"> </i>
                                            Agregar</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <select name="tipo" id="tipo" required="required"
                                            class="js-example-basic-single form-control" style="width: 100%" multiple>
                                        {% for categoria in categorias %}
                                        <option value="{{ categoria.nombre|slice:1 }}">{{ categoria.nombre|capfirst }}</option>
                                        {% endfor %}
                                    </select>
                                    <span>El tipo es Obligatorio</span>
                                    <span class="fa fa-building form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <select name="establecimiento" id="establecimiento" required="required"
                                            class="js-example-basic-single form-control" style="width: 100%" multiple>
                                        {% for establecimiento in establecimientos %}
                                            {% if producto.establecimiento.id == establecimiento.id %}
                                                <option selected="selected"
                                                        value="{{ establecimiento.id }}">{{ establecimiento }}</option>
                                            {% else %}
                                                <option value="{{ establecimiento.id }}">{{ establecimiento }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <span>Establecimiento es Obligatorio</span>
                                    <span class="fa fa-building form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group" id="codigo">
                                <div class="col-md-12 col-sm-12 form-group has-feedback" >
                                    <input type="text"  name="codigo"
                                           placeholder="Código de barra o codigo interno (Si aplica)"
                                           value="{{ producto.codigo }}" class="form-control">
                                    <span>Código de Barras o Código Interno</span>
                                    <span class="fa fa-bar-chart form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <select name="categoria" id="categoria" class="js-example-basic-single form-control"
                                            style="width: 100%" required="required" multiple>
                                        {% for categoria in subcategorias %}
                                            <optgroup label="{{ categoria.nombre }}"></optgroup>
                                            {% for sub in categoria.subcategorias_2_set.all %}
                                                {% if producto.subcategoria == sub %}
                                                    <option selected="selected"
                                                            value="{{ sub.id }}">{{ sub.nombre }}</option>
                                                {% else %}
                                                    <option value="{{ sub.id }}">{{ sub.nombre }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <span>Categoría es obligatorio</span>
                                    <span class="fa fa-tags form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <input id="nombre" value="{{ producto.nombre }}" placeholder="Nombre del Producto"
                                           required="required" class="form-control" type="text" name="nombre">
                                    <span>El Nombre del Item es obligatorio</span>
                                    <span class="fa fa-shopping-basket form-control-feedback right"
                                          aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback"id="marca">
                                    <select name="marca"  class="js-example-basic-single form-control"
                                            style="width: 100%" multiple>
                                        {% for marca in marcas %}
                                            {% if producto.Marca == marca %}
                                                <option selected="selected"
                                                        value="{{ marca.id }}">{{ marca.nombre }}</option>
                                            {% else %}
                                                <option value="{{ marca.id }}">{{ marca.nombre }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <span>(Solo si Aplica) Marca</span>
                                    <span class="fa fa-tags form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group" id="talla">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <select name="talla[]"  class="js-example-basic-single2 form-control"
                                            style="width: 100%" multiple>
                                         <option><option>
                                        <option value="XS">XS</option>
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                        <option value="2XL">2XL</option>
                                        <option value="3XL">3XL</option>
                                        <option value="4XL">4XL</option>
                                        <option value="5XL">5XL</option>
                                        <option value="6XL">6XL</option>
                                    </select>
                                    <span>(Solo si Aplica) Talla</span>
                                    <span class="form-control-feedback right" aria-hidden="true">XL</span>
                                </div>
                            </div>
                            <div class="item form-group" id="stock">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <input value="{% stock producto.id %}"
                                           required="required" class="form-control" type="number" name="stock">
                                    <span>Stock inicial</span>
                                    <span class="fa fa-shopping-basket form-control-feedback right"
                                          aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group" id="imagen">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <input class="form-control" style="padding: -5px" type="file" name="imagen"/>
                                    <span class="fa fa-image form-control-feedback right" aria-hidden="true"></span>
                                    <span><strong>Actualmente:</strong> {{ producto.imagen }}</span>
                                </div>
                            </div>
                            <div class="item form-group" id="detalles">
                                <div class="col-md-12 col-sm-12">
                                    <span>Descripción del Producto</span>
                                    <textarea name="descripcion" id="descripcion">{{ producto.descripcion }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><small>Detalles Tecnicos del Producto</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="item form-group" id="dTecnicos">
                                <div class="col-md-12 col-sm-12">
                                    <textarea name="tecnicos" id="tecnicos" >{{ producto.detallesTecnicos }}</textarea>
                                </div>
                            </div>
                            <div class="item form-group" id="tags">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <input value="{{ producto.etiquetas }}"
                                           required="required" class="form-control" type="number" name="etiquetas">
                                    <span>Escriba aquí todas las que considere necesario</span>
                                    <span class="fa fa-tags form-control-feedback right"
                                          aria-hidden="true"></span>
                                </div>
                            </div>
                                <div class="ln_solid"></div>
                            <div class="item form-group">
                                <button class="btn btn-success" type="reset"><i class="fa fa-edit"> </i> Limpiar
                                </button>
                                <button type="submit" class="btn btn-danger"><i class="fa fa-save"> </i> Guardar
                                </button>
                                <a href="/products/" class="btn btn-primary"><i class="fa fa-reply"> </i> Volver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block script_index %}}
    <script src="/static/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script>
       function ckeditor_(control){
            CKEDITOR.replace(control,{
            toolbar : [
                ['TextColor', 'BGColor','-','Image', 'Table','-'],
                ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript'],
                ['-','NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-',
                       'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']
            ]
        });
        }
        ckeditor_('tecnicos')
        ckeditor_('descripcion')
    </script>
    <script src="{% static 'select2/js/select2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}">
    <script>
        $(".js-example-basic-single").select2({
            maximumSelectionLength: 1,
            placeholder: "Seleccione"
        });
        $(".js-example-basic-single2").select2();

        {% if producto.talla %}
            tallas='{{ producto.talla }}'.split(",");
        {% endif %}
        $(".js-example-basic-single2").val(tallas).trigger('change');

        function setTwoNumberDecimal(event) {
            this.value = parseFloat(this.value).toFixed(2);
        }

        $("#tipo").change(function(){
            console.log($(this).val())
            let valor = $(this).val()
            if(valor == "S"){
                $("#codigo").hide();
                $("#marca").hide();
                $("#talla").hide();
                $("#imagen").hide();
                $("#dTecnicos").hide();
                $("#colores").hide();
                $("#stock").hide();
            }
            if(valor == "P"){
                $("#codigo").show();
                $("#marca").show();
                $("#talla").show();
                $("#imagen").show();
                $("#dTecnicos").show();
                $("#stock").show();
            }
            if(valor == "V" || valor=="I"){
                $("#codigo").show();
                $("#marca").show();
                $("#talla").hide();
                $("#imagen").show();
                $("#detalles").hide()
                $("#dTecnicos").show();
                $("#stock").show();
            }
        }).change()

    </script>
{% endblock %}