{% extends 'Home/index2.html' %}
{% block contenido_index %}
    {% load static %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <!--Crear direcciones de los establecimientos -->
    <div class="modal fade bs-example-modal-lg" id="registro" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Registro de Productos</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="x_panel">
                        <div class="x_content">
                            <br>
                            <form class="form-label-left input_mask" method="post"
                                  action="/business/direcction/{{ establecimiento.id }}/">
                                {% csrf_token %}
                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <select class="js-example-basic-single" style="width: 100%" id="ciudades"
                                            required="required"
                                            name="ciudad" multiple>
                                        {% for provincia in provincias %}
                                            <optgroup label="{{ provincia.nombre }}"></optgroup>
                                            {% for ciudad in provincia.ciudad_set.all %}
                                                <option value="{{ ciudad.id }}">{{ ciudad.nombre }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="direccion"
                                           id="direccion" required="required"
                                           placeholder="Aquí la dirección">
                                    <span class="fa fa-globe form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="telefono"
                                           id="telefono"
                                           placeholder="Ingrese Teléfono">
                                    <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="ln_solid"></div>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar
                                        </button>
                                        <button class="btn btn-primary" type="reset">Limpiar Formulario</button>
                                        <button type="submit" class="btn btn-success">Registrar Datos</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <form data-parsley-validate="" class="form-horizontal form-label-left" method="post"
              enctype="multipart/form-data">
            <div class="row">
                {% csrf_token %}
                <div class="col-md-6 col-sm-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><small>Registro de establecimientos</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">Nuevos Productos</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a class="dropdown-item" href="/products/"><i
                                                class="fa fa-plus-circle"> </i>
                                            Agregar</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <select name="establecimiento" id="establecimiento"
                                            class="js-example-basic-single form-control" style="width: 100%" multiple>
                                        {% for establecimiento in establecimientos %}
                                            {% if producto.establecimiento.id == establecimiento.id %}
                                                <option selected="selected"
                                                        value="{{ establecimiento.id }}">{{ establecimiento }}</option>
                                            {% else %}
                                                <option value="{{ establecimiento.id }}">{{ establecimiento }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <span>Establecimiento es Obligatorio</span>
                                    <span class="fa fa-building form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <input type="text" id="codigo"
                                           placeholder="Código de barra o codigo interno (Si aplica)"
                                           value="{{ producto.codigo }}" class="form-control">
                                    <span>Código de Barras o Código Interno</span>
                                    <span class="fa fa-bar-chart form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <select name="categoria" id="categoria" class="js-example-basic-single form-control"
                                            style="width: 100%" required="required" multiple>
                                        {% for categoria in categorias %}
                                            <optgroup label="{{ categoria.nombre }}"></optgroup>
                                            {% for sub in categoria.subcategorias_set.all %}
                                                {% if producto.subcategoria == sub %}
                                                    <option selected="selected"
                                                            value="{{ sub.id }}">{{ sub.nombre }}</option>
                                                {% else %}
                                                    <option value="{{ sub.id }}">{{ sub.nombre }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <span>Categoría es obligatorio</span>
                                    <span class="fa fa-tags form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <input id="nombre" value="{{ producto.nombre }}" placeholder="Nombre del Producto"
                                           required="required" class="form-control" type="text" name="nombre">
                                    <span>El Nombre del Producto es obligatorio</span>
                                    <span class="fa fa-shopping-basket form-control-feedback right"
                                          aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <select name="marca" id="marca" class="js-example-basic-single form-control"
                                            style="width: 100%" required multiple>
                                        {% for marca in marcas %}
                                            {% if producto.Marca == marca %}
                                                <option selected="selected"
                                                        value="{{ marca.id }}">{{ marca.nombre }}</option>
                                            {% else %}
                                                <option value="{{ marca.id }}">{{ marca.nombre }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <span>(Solo si Aplica) Marca</span>
                                    <span class="fa fa-tags form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <select name="talla[]" id="talla" class="js-example-basic-single2 form-control"
                                            style="width: 100%" required multiple>
                                        <option value="XS">XS</option>
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                        <option value="2XL">2XL</option>
                                        <option value="3XL">3XL</option>
                                        <option value="4XL">4XL</option>
                                        <option value="5XL">5XL</option>
                                        <option value="6XL">6XL</option>
                                    </select>
                                    <span>(Solo si Aplica) Talla</span>
                                    <span class="form-control-feedback right" aria-hidden="true">XL</span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <input class="form-control" style="padding: -5px" type="file" name="imagen"
                                           id="imagen"/>
                                    <span class="fa fa-image form-control-feedback right" aria-hidden="true"></span>
                                    <span><strong>Actualmente:</strong> {{ producto.imagen }}</span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12">
                                    <span>Descripción del Producto</span>
                                    <textarea name="descripcion" id="descripcion">{{ producto.descripcion }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><small>Detalles del Producto</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12">
                                    <span>Detalles Técnicos</span>
                                    <textarea name="tecnicos" id="tecnicos">{{ producto.detallesTecnicos }}</textarea>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <button class="btn btn-success" type="reset"><i class="fa fa-edit"> </i> Limpiar
                                </button>
                                <button type="submit" class="btn btn-danger"><i class="fa fa-save"> </i> Guardar
                                </button>
                                <a href="/products/" class="btn btn-primary"><i class="fa fa-reply"> </i> Volver</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2><small>Colores (Solo si aplica)</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                               aria-haspopup="true" aria-expanded="false">Nuevos Productos</a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a class="dropdown-item" href="/products/"><i
                                                        class="fa fa-plus-circle"> </i>
                                                    Agregar</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="item form-group">
                                        <table class="tile_info">
                                            <tbody>
                                            {% for color in producto.colores_set.all %}
                                                <tr>
                                                    <td style="width: 50px"><p><i class="fa fa-square"
                                                                                  style="color: {{ color.codigoColor }}"></i>
                                                    </p></td>
                                                    <td><p>{{ color.nombre }}</p></td>
                                                </tr>
                                            {% endfor %}


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2><small>Precios (Al menos 1)</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                               aria-haspopup="true" aria-expanded="false">Nuevos Productos</a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a class="dropdown-item" href="/products/"><i
                                                        class="fa fa-plus-circle"> </i>
                                                    Agregar</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="item form-group">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block script_index %}
    <script>
        CKEDITOR.replace('descripcion');
        CKEDITOR.replace('tecnicos');
    </script>
    <script src="{% static 'select2/js/select2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}">
    <script>
        $(".js-example-basic-single").select2({
            maximumSelectionLength: 1
        });
        $(".js-example-basic-single2").select2();

        tallas = '{{ producto.talla }}'.split(",");
        $(".js-example-basic-single2").val(tallas).trigger('change');


    </script>
{% endblock %}