{% extends 'Home/index2.html' %}
{% block contenido_index %}
    {% load static %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <link href="/static/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
    <link href="/static/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <!--Crear direcciones de los establecimientos -->
    <div class="modal fade bs-example-modal-lg" id="registroColores" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Registro de Colores para los Productos</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="x_panel">
                        <div class="x_content">
                            <br>
                            <form class="form-label-left input_mask" method="post"
                                  action="/products/colors/{{ producto.id }}/">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="" style="padding-left: 10px; padding-right: 10px">
                                            <label for="">Paleta</label>
                                            <div style="border: 1px solid lightgrey; height: 100%; padding: 10px">
                                            {% for color in colores %}
                                                <i class="fa fa-square cx" data-nombre="{{ color.nombre }}" data-codigo="{{ color.codigoColor }}" style="color: {{ color.codigoColor }}; font-size: 18px; cursor: pointer" title="{{ color.nombre }}"></i>
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="input-group demo2" style="padding-left: 10px; padding-right: 10px">
                                            <input type="text" value="#ffff" placeholder="#00000" name="color" id="color_codigo" readonly="readonly"
                                                   class="form-control"/>
                                            <span class="input-group-addon"><i></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-right" name="nombre"
                                           id="nombre_color" required="required"
                                           placeholder="Aquí el nombre del Color">
                                    <span class="fa fa-file-image-o form-control-feedback right"
                                          aria-hidden="true"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="ln_solid"></div>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar
                                        </button>
                                        <button class="btn btn-primary" type="reset">Limpiar Formulario</button>
                                        <button type="submit" class="btn btn-success">Registrar Datos</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="registroPrecios" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Registro de precios</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="x_panel">
                        <div class="x_content">
                            <br>
                            <form id="formprecio" class="form-label-left input_mask" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <input type="number" class="form-control" name="precio" id="precio" max="999999999999999999"
                                               step="0.01" placeholder="0.00" onchange="setTwoNumberDecimal">
                                        <span class="fa fa-dollar form-control-feedback right"
                                              aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <ul class="to_do">
                                            <li>
                                                <input type="checkbox" class="flat" id="web" name="web" style="position: absolute; opacity: 0;"> Precio para la Web </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12  form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-right" name="detalle"
                                               id="detalle" required="required"
                                               placeholder="Aquí el detalle">
                                        <span class="fa fa-text-height form-control-feedback right"
                                              aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="ln_solid"></div>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar
                                        </button>
                                        <button class="btn btn-primary" type="reset">Limpiar Formulario</button>
                                        <button type="submit" class="btn btn-success">Registrar Datos</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <form data-parsley-validate="" class="form-horizontal form-label-left" method="post"
              enctype="multipart/form-data">
            <div class="row">
                {% csrf_token %}
                <div class="col-md-6 col-sm-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><small>Registro de Productos</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">Nuevos Productos</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a class="dropdown-item" href="/products/new/"><i
                                                class="fa fa-plus-circle"> </i>
                                            Agregar</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <select name="tipo" id="tipo" required="required"
                                            class="js-example-basic-single form-control" style="width: 100%" multiple>
                                    {% for categoria in categorias %}
                                        {% if categoria.nombre|slice:1 == producto.subcategoria.subcategoria.categoria.nombre|slice:1 %}
                                         <option selected="selected" value="{{ categoria.nombre|slice:1 }}">{{ categoria.nombre }}</option>
                                            {% else %}
                                         <option value="{{ categoria.nombre|slice:1 }}">{{ categoria.nombre }}</option>
                                        {% endif %}

                                    {% endfor %}
                                    </select>
                                    <span>El tipo es Obligatorio</span>
                                    <span class="fa fa-building form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <select name="establecimiento" id="establecimiento" required="required"
                                            class="js-example-basic-single form-control" style="width: 100%" multiple>
                                        {% for establecimiento in establecimientos %}
                                            {% if producto.establecimiento.id == establecimiento.id %}
                                                <option selected="selected"
                                                        value="{{ establecimiento.id }}">{{ establecimiento }}</option>
                                            {% else %}
                                                <option value="{{ establecimiento.id }}">{{ establecimiento }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <span>Establecimiento es Obligatorio</span>
                                    <span class="fa fa-building form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group" id="codigo">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <input type="text"  name="codigo"
                                           placeholder="Código de barra o codigo interno (Si aplica)"
                                           value="{{ producto.codigo }}" class="form-control">
                                    <span>Código de Barras o Código Interno</span>
                                    <span class="fa fa-bar-chart form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <select name="categoria" id="categoria" class="js-example-basic-single form-control"
                                            style="width: 100%" required="required" multiple>
                                        {% for categoria in subcategorias %}
                                            <optgroup label="{{ categoria.nombre }}"></optgroup>
                                            {% for sub in categoria.subcategorias_2_set.all %}
                                                {% if producto.subcategoria == sub %}
                                                    <option selected="selected"
                                                            value="{{ sub.id }}">{{ sub.nombre }}</option>
                                                {% else %}
                                                    <option value="{{ sub.id }}">{{ sub.nombre }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                    <span>Categoría es obligatorio</span>
                                    <span class="fa fa-tags form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <input id="nombre" value="{{ producto.nombre }}" placeholder="Nombre del Producto"
                                           required="required" class="form-control" type="text" name="nombre">
                                    <span>El Nombre del Producto es obligatorio</span>
                                    <span class="fa fa-shopping-basket form-control-feedback right"
                                          aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group" id="marca">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <select name="marca"  class="js-example-basic-single form-control"
                                            style="width: 100%" multiple>
                                        {% for marca in marcas %}
                                            {% if producto.marca == marca %}
                                                <option selected="selected"
                                                        value="{{ marca.id }}">{{ marca.nombre }}</option>
                                            {% else %}
                                                <option value="{{ marca.id }}">{{ marca.nombre }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <span>(Solo si Aplica) Marca</span>
                                    <span class="fa fa-tags form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group" id="talla">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <select name="talla[]"  class="js-example-basic-single2 form-control"
                                            style="width: 100%" multiple>
                                        <option value="XS">XS</option>
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                        <option value="2XL">2XL</option>
                                        <option value="3XL">3XL</option>
                                        <option value="4XL">4XL</option>
                                        <option value="5XL">5XL</option>
                                        <option value="6XL">6XL</option>
                                    </select>
                                    <span>(Solo si Aplica) Talla</span>
                                    <span class="form-control-feedback right" aria-hidden="true">XL</span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <input class="form-control" style="padding: -5px" type="file" name="imagen"
                                           id="imagen"/>
                                    <span class="fa fa-image form-control-feedback right" aria-hidden="true"></span>
                                    <span><strong>Actualmente:</strong> {{ producto.imagen }}</span>
                                </div>
                            </div>
                            <div class="item form-group" id="detalles">
                                <div class="col-md-12 col-sm-12">
                                    <span>Descripción del Producto</span>
                                    <textarea name="descripcion" id="descripcion">{{ producto.descripcion }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="x_panel">
                        <div class="x_title">
                            {% if not producto.tipo == "S" %}
                                <h2><small>Detalles técnicos del Producto</small></h2>
                                {% else %}
                                <h2><small>Opciones de registro</small></h2>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="item form-group" id="dTecnicos" >
                                <div class="col-md-12 col-sm-12">
                                    <textarea name="tecnicos" id="tecnicos">{{ producto.detallesTecnicos }}</textarea>
                                </div>
                            </div>
                        <div class="item form-group" id="tags">
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <input value="{{ producto.etiquetas }}"
                                           required="required" class="form-control" name="etiquetas">
                                    <span>Escriba aquí todas las que considere necesario, separe con comas</span>
                                    <span class="fa fa-tags form-control-feedback right"
                                          aria-hidden="true"></span>
                                </div>
                            </div>
                            {% if not producto.tipo == "S" %}
                                <div class="ln_solid"></div>
                            {% endif %}
                            <div class="item form-group">
                                <button class="btn btn-success" type="reset"><i class="fa fa-edit"> </i> Limpiar
                                </button>
                                <button type="submit" class="btn btn-danger"><i class="fa fa-save"> </i> Guardar
                                </button>
                                <a href="/products/" class="btn btn-primary"><i class="fa fa-reply"> </i> Volver</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4" id="colores">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2><small>Colores (Solo si aplica)</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                               aria-haspopup="true" aria-expanded="false">Nuevos Colores</a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a class="dropdown-item" data-toggle="modal"
                                                       data-target="#registroColores"><i
                                                        class="fa fa-plus-circle"> </i>
                                                    Agregar</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="item form-group">
                                        <table class="tile_info">
                                            <tbody>
                                            {% for color in producto.colores_set.all %}
                                                <tr>
                                                    <td style="width: 50px"><p><i class="fa fa-square"
                                                                                  style="color: {{ color.codigoColor }}"></i>
                                                    </p></td>
                                                    <td><p>{{ color.nombre }}</p>
                                                    </td>
                                                    <td><a href="/products/colors/delete/{{ color.id }}/"><i
                                                            class="fa fa-trash text-danger"></i></a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% if producto.tipo == "S" %}
                        <div class="col-md-12 col-sm-12">
                    {% else %}
                        <div class="col-md-8 col-sm-8">
                    {% endif %}
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2><small>Precios (Al menos 1)</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                               aria-haspopup="true" aria-expanded="false">Nuevos Precios</a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a style="cursor:pointer;" id="nprecio" class="dropdown-item"
                                                       data-toggle="modal"
                                                       data-target="#registroPrecios"
                                                        data-enlace="/products/prices/{{ producto.id }}/"
                                                ><i
                                                        class="fa fa-plus-circle"> </i>
                                                    Agregar</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="item form-group">
                                        <table class="countries_list" style="font-size: 16px">
                                            <tbody>
                                            {% for precio in producto.precios_set.all %}
                                                <tr style="background-color: #0b97c4; color: white">
                                                    <td>
                                                        <a href="/products/prices/delete/{{ precio.id }}/"><i
                                                            class="fa fa-trash" style="color: white"></i></a>
                                                        <a class="dataprecio" style="cursor:pointer;" data-target="#registroPrecios" data-toggle="modal"
                                                           data-enlace="/products/prices/edit/{{ precio.id }}/"
                                                           data-web="{{ precio.web }}"
                                                           data-precio="{{ precio.precioVenta }}"
                                                           data-detalle="{{ precio.detalle }}"
                                                        ><i
                                                            class="fa fa-edit" style="color: white"></i></a>
                                                    </td>
                                                    <td>{{ precio.detalle }} {% if precio.web %} (Precio Web){% endif %} </td>
                                                    <td class="fs15 fw700 text-right">$ {{ precio.total }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Precio sin Impuestos: </td>
                                                    <td></td>
                                                    <td class="fs15 fw700 text-right">$ {{ precio.precioVenta }}</td>
                                                </tr>
                                                <tr>
                                                    <td>IVA:</td>
                                                    <td></td>
                                                    <td class="fs15 fw700 text-right">$ {{ precio.iva }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Total:</td>
                                                    <td></td>
                                                    <td class="fs15 fw700 text-right">$ {{ precio.total }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="clearfix"></div>
    <div class="row" id="subirimagen">
        <div class="col-md-12 col-sm-12  ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Subir Imágenes</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>Puedes arrastrar y soltar multiples</p>
                    <form action="/products/images/{{ producto.id }}/" method="post" class="dropzone"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="fallback">
                            <input name="imagenes" type="file" multiple/>
                        </div>
                        <div class="dz-message needsclick">
                            <p>Click aquí para subir la imagen, antes de iniciar asegurese de que todas las fotos sean
                                del mismo tamaño (preferiblemente cuadradas), caso contrario podria generar errores de
                                visualización</p>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
     <div class="row" id="galeria">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><small>Galeria de imagenes </small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        {% for imagen in imagenes %}
                            <div class="col-md-2">
                            <div class="thumbnail">
                                <div class="image view view-first">
                                    <img style="width: 100%; display: block;" src="/media/{{ imagen.imagen}}" alt="image">
                                    <div class="mask">
                                        <p>Imagen {{ forloop.counter }} para el producto {{ producto.nombre }}</p>
                                        <div class="tools tools-bottom">
                                            <a href="#"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <p>Imagen {{ forloop.counter }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_index %}}
    <script src="/static/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="/static/vendors/dropzone/dist/min/dropzone.min.js"></script>
    <script>

        function ckeditor_(control){
            CKEDITOR.replace(control,{
            toolbar : [
                ['TextColor', 'BGColor','-','Image', 'Table','-'],
                ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript'],
                ['-','NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-',
                       'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']
            ]
        });
        }
        ckeditor_('tecnicos')
        ckeditor_('descripcion')
    </script>
    <script src="{% static 'select2/js/select2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}">
    <script>
        let params = new URLSearchParams(location.search);
        var pre = params.get('precio');
        console.log(pre)

        if (pre == 'on') {
            $("#registroPrecios").modal('show');
        }

        $(".js-example-basic-single").select2({
            maximumSelectionLength: 1
        });
        $(".js-example-basic-single2").select2();

        tallas = '{{ producto.talla }}'.split(",");
        $(".js-example-basic-single2").val(tallas).trigger('change');

        function setTwoNumberDecimal(event) {
            this.value = parseFloat(this.value).toFixed(2);
        }

        $("#tipo").change(function(){
            console.log($(this).val())
            let valor = $(this).val()
            if(valor == "S"){
                $("#codigo").hide();
                $("#marca").hide();
                $("#talla").hide();
                $("#imagen").hide();
                $("#dTecnicos").hide();
                $("#colores").hide();
                $("#subirimagen").hide();
                $("#galeria").hide();
            }
            if(valor == "P"){
                $("#codigo").show();
                $("#marca").show();
                $("#talla").show();
                $("#imagen").show();
                $("#dTecnicos").show();
                $("#stock").show();
                $("#detalles").show()
            }
            if(valor == "V" || valor=="I"){
                $("#codigo").show();
                if(valor=="V"){
                    $("#marca").show();
                }
                else{
                    $("#marca").hide();
                }
                $("#talla").hide();
                $("#imagen").show();
                $("#detalles").hide()
                $("#dTecnicos").show();
                $("#stock").show();
            }
        }).change()
        $(".cx").click(function(){
            $("#color_codigo").val($(this).data('codigo'));
            $("#nombre_color").val($(this).data('nombre'));
            console.log($(this).data('codigo'),$(this).data('nombre'))
        })

        $(".dataprecio").click(function (){
            $("#precio").val(parseFloat($(this).data('precio').replace(",",".")).toFixed(2))
            $("#detalle").val($(this).data('detalle'))
            if ($(this).data('web')=='true'){
                $("#web").checked(true)
            }
            else{
                $("#web").checked(false)
            }
            $("#formprecio").attr('action',$(this).data('enlace'))
        })
        $("#nprecio").click(function (){
            $("#formprecio").attr('action',$(this).data('enlace'))
        })
    </script>
{% endblock %}