{% extends 'Home/index2.html' %}
{% block contenido_index %}
{% load productosTags %}
{% load static %}

     <div class="modal fade bs-example-modal-lg" id="ingresos" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Registrar Ingreso/Egreso Automatico</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="x_panel">
                        <div class="x_content">
                            <br>
                            <form class="form-label-left input_mask" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <p id="producto"></p>
                                        <input type="hidden" id="tipo" name="tipo">
                                        <input type="hidden" id="producto_id" name="producto">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <input type="number" class="form-control" name="cantidad" value="1" max="999999999999999999" step="0.01" placeholder="Ingrese Cantidad" onchange="setTwoNumberDecimal">
                                        <span class="fa fa-dollar form-control-feedback right"
                                              aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12  form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-right" name="detalle"
                                               id="detalle" required="required" value="Ingreso Automático"
                                               placeholder="Aqui el detalle de la transacción">
                                        <span class="fa fa-text-height form-control-feedback right"
                                              aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="ln_solid"></div>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar
                                        </button>
                                        <button class="btn btn-primary" type="reset">Limpiar Formulario</button>
                                        <button type="submit" class="btn btn-success">Registrar Datos</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Productos <small>del establecimientos</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">Opciones</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/products/new/"><i
                                            class="fa fa-file-o"> </i> Registrar Nuevo</a>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-danger" href="/inventory/">Todas</a>
                                {% for establecimiento in establecimientos %}
                                    <a class="btn btn-primary" href="/inventory/?establecimiento={{ establecimiento.id }}">{{ establecimiento.nombreComercial }}</a>
                                {% endfor %}

                                <div class="card-box table-responsive">
                                    <table id="inventario" class="table table-striped table-bordered" style="width:100%">
                                        <thead style="background-color: #2A3F54; color: white">
                                        <tr>
                                            <th style="text-align: center">Id</th>
                                            <th style="text-align: center">Código</th>
                                            <th style="text-align: center">Descripción</th>
                                            <th style="text-align: center">Color</th>
                                            <th style="text-align: center">Talla</th>
                                            <th style="text-align: center">Precio Venta</th>
                                            <th style="text-align: center">Stock</th>
                                            <th style="text-align: center">Ingreso</th>
                                            <th style="text-align: center">Egreso</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for producto in productos %}
                                            <tr>
                                            <td style="text-align: center; vertical-align: middle">{{ producto.id }}</td>
                                            <td style="text-align: center; vertical-align: middle">{% if producto.codigo  %}{{ producto.codigo }}{% else %} <i>Sin código</i> {% endif %}</td>
                                            <td style="text-align: center; vertical-align: middle">{{ producto.nombre }}</td>
                                            <td style="text-align: justify; vertical-align: middle">
                                            {% if producto.tipo == "P" %}
                                                {% for color in producto.colores_set.all %}
                                                    <i class="fa fa-circle" style="color:{{ color.codigoColor }}"></i>
                                                    <i>{{ color }}</i>
                                                    <br>
                                                {% endfor %}
                                            {% else %}
                                                <i>No Aplica</i>
                                            {% endif %}
                                            </td>
                                            <td style="text-align: center; vertical-align: middle">
                                            {% if producto.tipo == "P" %}
                                                {% if producto.talla %}
                                                    <i>{{ producto.talla }}</i>
                                                {% else %}
                                                    <i>Sin talla</i>
                                                {% endif %}
                                            {% else %}
                                                <i>No Aplica</i>
                                            {% endif %}
                                            </td>
                                            <td style="text-align: center; vertical-align: middle">
                                                {% for precios in producto.precios_set.all %}
                                                    <span class="badge badge-info" style="font-size: 13px">{{ precios.total }}</span><br>
                                                    <br>
                                                {% endfor %}

                                            </td>
                                            <td style="text-align: center; vertical-align: middle"> <span class="badge badge-primary" style="font-size: 13px">
                                                {% if producto.tipo == "P" %}
                                                    {% stock producto.id %}
                                                {% else %}
                                                    <i>Ilimitado</i>
                                                {% endif %}

                                            </span></td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                {% if producto.tipo == "P" %}
                                                <a data-toggle="modal" data-target="#ingresos"
                                                   data-producto_id="{{ producto.id }}"
                                                   data-producto="{{ producto.nombre }}"
                                                   data-tipo="I"
                                                   href="#" class="btn btn-app datos"><i class="fa fa-plus-circle"></i>Ingreso</a>
                                                {% else %}
                                                    <i>No Aplica</i>
                                                {% endif %}
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                 {% if producto.tipo == "P" %}
                                                <a href="" data-toggle="modal" data-target="#ingresos"
                                                   data-producto_id="{{ producto.id }}"
                                                   data-producto="{{ producto.nombre }}"
                                                   data-tipo="E"
                                                   class="btn btn-app datos">
                                                    <i class="fa fa-minus-circle"></i>Egreso</a>
                                                 {% else %}
                                                    <i>No Aplica</i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script_index %}
    <script>
        $(document).ready(function () {
            $("#inventario").DataTable({
                language: {
                    url: "{% static 'Spanish_dt.json' %}"
                },
                pageLength: 100,
            });
        });


        $(".datos").click(function () {
            $("#producto_id").val($(this).data('producto_id'))
            $("#producto").text($(this).data('producto'))
            $("#tipo").val($(this).data('tipo'))
        })

    </script>
{% endblock %}