{% extends 'Home/index2.html' %}
{% block contenido_index %}
    {% load static %}
    <!--Crear  proveedores -->
    <div class="modal fade bs-example-modal-lg" id="registro" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Registro de establecimientos</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="x_panel">
                        <div class="x_content">
                            <br>
                            <form id="formRegistrar" class="form-label-left input_mask" method="post">
                                {% csrf_token %}
                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <select class="js-example-basic-single" style="width: 100%" id="establecimiento"
                                            required="required"
                                            name="establecimiento" multiple>
                                        {% for establecimiento in establecimientos %}
                                            <option value="{{ establecimiento.id }}">{{ establecimiento }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-12 col-sm-12 form-group has-feedback">
                                    <input type="file" class="form-control has-feedback-left" name="logo" id="logo"
                                           placeholder="Aquí el logo (opcional)" style="height: 50px">
                                    <span class="fa fa-image form-control-feedback left"
                                          aria-hidden="true"></span>
                                    <span>Es Opcional</span>
                                </div>

                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="ruc" id="ruc"
                                           required="required"
                                           placeholder="RUC">
                                    <span class="fa fa-credit-card-alt form-control-feedback left"
                                          aria-hidden="true"></span>
                                </div>

                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="representateLegal"
                                           required="required"
                                           id="representateLegal"
                                           placeholder="Representate Legal">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="nombreComercial"
                                           id="nombreComercial"
                                           placeholder="Nombre Comercial">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                    <span>Es opcinal</span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="ln_solid"></div>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar
                                        </button>
                                        <button class="btn btn-primary" type="reset">Limpiar Formulario</button>
                                        <button type="submit" class="btn btn-success">Registrar Datos</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="eliminar" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Mensaje!</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center">
                    <i class="fa fa-exclamation-triangle" style="font-size: 50px; color: darkorange"></i><br>
                    <p>Esta seguro que desea eliminar este proveedor, tenga en cuenta que si elimina este registro,
                        todos los datos relacionados tambien serán eliminados</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
                    <a type="button" id="eliminarRegistro" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
    </div>


    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Proveedor <small>del establecimientos</small></h2>
                        <ul class="nav navbar-right panel_toolbox">

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">Opciones</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#registro"><i
                                            class="fa fa-file-o"> </i> Registra Nuevo</a>
                                </div>
                            </li>
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-danger" href="/suppliers/">Todas</a>
                                {% for establecimiento in establecimientos %}
                                    <a class="btn btn-primary"
                                       href="/suppliers/?q={{ establecimiento.id }}"> {{ establecimiento.nombreComercial }}</a>
                                {% endfor %}
                                <div class="card-box table-responsive">
                                    <table id="proveedores" class="table table-striped table-bordered"
                                           style="width:100%">
                                        <thead style="background-color: #2A3F54; color: white">
                                        <th style="text-align: center">Logo</th>
                                        <th style="text-align: center">Establecimiento</th>
                                        <th style="text-align: center">RUC</th>
                                        <th>Nombre de Fantasía</th>
                                        <th>Representante Legal</th>
                                        <th>Tipo de Proveedor</th>
                                        <th style="text-align: center">Tipo de Actividad</th>
                                        <th style="text-align: center">Opciones</th>
                                        </thead>
                                        <tbody>
                                        {% for proveedor in proveedores %}
                                            <tr>
                                                {% if proveedor.logo %}
                                                    <td style="text-align: center; vertical-align: middle"><img
                                                            style="width: 50px;" src="/media/{{ proveedor.logo }}"
                                                            alt="image"></td>
                                                {% else %}
                                                    <td style="text-align: center; vertical-align: middle">No
                                                        registrado
                                                    </td>
                                                {% endif %}
                                                <td style="text-align: center; vertical-align: middle">{{ proveedor.establecimiento }}</td>
                                                <td style="text-align: center; vertical-align: middle">{{ proveedor.ruc }}</td>
                                                <td style="vertical-align: middle">{{ proveedor.nombre_fantasia }}</td>
                                                <td style="vertical-align: middle">{{ proveedor.representante }}</td>

                                                <td style="text-align: center; vertical-align: middle">
                                                    {% for tipo in proveedor.tipoproveedor_set.all %}
                                                        <label class="alert alert-success no-padding"
                                                               style="padding: 2px !important;">{{ tipo.detalle|capfirst }}</label>
                                                    {% endfor %}
                                                </td>
                                                <td style="text-align: center; vertical-align: middle">
                                                    {% for actividad in proveedor.actividadproveedor_set.all %}
                                                        <label class="alert alert-danger no-padding"
                                                               style="padding: 2px !important;">{{ actividad.nombre|capfirst }}</label>
                                                    {% endfor %}
                                                </td>
                                                <td style="text-align: center; font-size: 20px">
                                                    <a href="/suppliers/edit/{{ proveedor.id }}/"><i
                                                            class="fa fa-edit text-primary"></i></a>
                                                    <a class="ee" data-uri="/suppliers/delete/{{ proveedor.id }}/"
                                                       href="/suppliers/delete/{{ proveedor.id }}/" data-toggle="modal"
                                                       data-target="#eliminar"><i
                                                            class="fa fa-trash text-danger"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script_index %}
    <script src="{% static 'select2/js/select2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}">
    <script>
        $(document).ready(function () {
            $("#proveedores").DataTable({
                language: {
                    url: "{% static 'Spanish_dt.json' %}"
                },
                pageLength: 100,
            });
        });

        $("#establecimiento").select2({
            maximumSelectionLength: 1
        });

        $(".ee").click(function () {
            $("#eliminarRegistro").attr("href", $(this).data('uri'))
        })

    </script>
{% endblock %}