{% extends 'Home/index2.html' %}
{% block contenido_index %}

    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Proveedor <small>del establecimientos</small></h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                        <tr>

                                            <th>Ver</th>
                                            <th>Proveedor</th>
                                            <th>RUC</th>
                                            <th>Nombre de Fantasía</th>
                                            <th>Tipo de Proveedor</th>
                                            <th>Tamaño de Empresa</th>
                                            <th>Tipo de Actividad</th>
                                            <th>Detalle</th>
                                            <th>Teléfono</th>
                                            <th>Celular</th>
                                            <th>Correo</th>
                                            <th>Página Web</th>
                                            <th>Dirección</th>
                                            <th>Ciudad</th>
                                            <th>Provincia</th>
                                            <th>País</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="fa-hover col-md-3 col-sm-4  ">
                                                    <a href="#/eye"><i class="fa fa-eye"></i></a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="image view view-first">
                                                    <img style="width: 100%; display: block;" src="/static/logo.png" alt="image">
                                                </div>
                                            </td>
                                            <td>info</td>
                                            <td>info</td>
                                            <td>info</td>
                                            <td>info</td>
                                            <td>info</td>
                                            <td>info</td>
                                            <td>info</td>
                                            <td>info</td>
                                            <td>info</td>
                                            <td>info</td>
                                            <td>info</td>
                                            <td>info</td>
                                            <td>info</td>
                                            <td>info</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script_index %}
    <script>
        $(document).ready(function () {
            $("#datatable").DataTable();
        });
    </script>
{% endblock %}