{% extends 'Home/index2.html' %}
{% block contenido_index %}
{% load static %}
{% load productosTags %}
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Productos <small>del establecimientos</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table id="listaDocumentos" class="table table-striped table-bordered" style="width:100%">
                                        <thead style="background-color: #2A3F54; color: white">
                                        <tr>
                                            <th style="text-align: center">ID</th>
                                             <th style="text-align: center">Fecha</th>
                                            <th style="text-align: center">Factura</th>
                                            <th style="text-align: center">Cliente</th>
                                            <th style="text-align: center">Valor Total</th>
                                            <th style="text-align: center">Valor Cancelado</th>
                                            <th style="text-align: center">Total a la fecha</th>
                                            <th style="text-align: center">Ver</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for cuenta in cuentas %}
                                               <tr>
                                                   <td>{{ cuenta.id }}</td>
                                                   <td>{{ cuenta.fecha }}</td>
                                                   <td>{{ cuenta.factura_numero }}</td>
                                                   <td>{{ cuenta.cliente.nombres }} {{ cliente.apellidos }}</td>
                                                   <td>valor total</td>
                                                   <td>valor cancelado</td>
                                                   <td>total a la fecha</td>

                                                   <td>ver</td>
                                               </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script_index %}
    <script>
        $(document).ready(function () {
            $("#listaDocumentos").DataTable({
                language: {
                    url: "{% static 'Spanish_dt.json' %}"
                },
                pageLength : 100,
            });
        });
    </script>
{% endblock %}