{% extends 'Home/index2.html' %}
{% block contenido_index %}
{% load static %}
{% load VentasTags %}

    <!--Crear  registro -->
    <div class="modal fade bs-example-modal-lg" id="registro" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Registro de Cuentas</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="x_panel">
                        <div class="x_content">
                            <br>
                            <form id="formRegistrar" class="form-label-left input_mask" method="post">
                                {% csrf_token %}
                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="factura_numero" id="factura_numero"
                                           placeholder="Factura de Venta">
                                    <span class="fa fa-credit-card-alt form-control-feedback left"
                                          aria-hidden="true"></span>
                                </div>

                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <select name="cliente" id="cliente" multiple required="required" class="form-control" style="width: 100%">
                                        {% for cliente in clientes %}
                                            <option value="{{ cliente.id }}">{{ cliente.nombres }} {{ cliente.apellidos }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="number" class="form-control has-feedback-left" name="cantidad"
                                           id="cantidad" required="required" step="0.01"
                                           placeholder="Ingrese la cantidad">
                                    <span class="fa fa-dollar form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="ln_solid"></div>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar
                                        </button>
                                        <button class="btn btn-primary" type="reset">Limpiar Formulario</button>
                                        <button type="submit" class="btn btn-success">Registrar Datos</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Cuentas <small>por cobrar</small></h2>
                        <ul class="nav navbar-right panel_toolbox">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">Opciones</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#registro"><i
                                        class="fa fa-file-o"> </i> Registra Nuevo</a>
                            </div>
                        </li>
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table id="listaCuentas" class="table table-striped table-bordered" style="width:100%">
                                        <thead style="background-color: #2A3F54; color: white">
                                        <tr>
                                            <th style="text-align: center">ID</th>
                                             <th style="text-align: center">Fecha</th>
                                            <th style="text-align: center">Factura</th>
                                            <th style="text-align: center">Cliente</th>
                                            <th style="text-align: center">Valor Total</th>
                                            <th style="text-align: center">Valor Cancelado</th>
                                            <th style="text-align: center">Total a la fecha</th>
                                            <th style="text-align: center">Ver pagos</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for cuenta in cuentas %}
                                               <tr>
                                                   <td style="text-align: center; vertical-align: middle">{{ cuenta.id }}</td>
                                                   <td style="text-align: center; vertical-align: middle">{{ cuenta.fecha }}</td>
                                                   <td style="text-align: center; vertical-align: middle">{{ cuenta.factura_numero }}</td>
                                                   <td style="vertical-align: middle">{{ cuenta.cliente.nombres }} {{ cuenta.cliente.apellidos }}</td>
                                                   <td style="text-align: center; vertical-align: middle"><span style="font-size: 12px" class="badge badge-danger">{{ cuenta.cantidad }}</span></td>
                                                   <td style="text-align: center; vertical-align: middle"><span style="font-size: 12px" class="badge badge-info">{% pagos cuenta.id %}</span></td>
                                                   <td style="text-align: center; vertical-align: middle"><span style="font-size: 12px" class="badge badge-primary">{% saldos cuenta.id %}</span></td>
                                                   <td style="text-align: center"><a href="/accounts_receivable/{{ cuenta.id }}/" class="btn btn-app"><i class="fa fa-binoculars"></i> Ver Abonos</a></td>
                                               </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script_index %}
<script src="{% static 'select2/js/select2.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}">

    <script>
        $(document).ready(function () {
            $("#listaCuentas").DataTable({
                language: {
                    url: "{% static 'Spanish_dt.json' %}"
                },
                pageLength : 100,
                responsive: true
            });
        });
        $("#cliente").select2({
            maximumSelectionLength: 1,
        });
    </script>
{% endblock %}