{% extends 'Home/index2.html' %}
{% block contenido_index %}
{% load static %}
{% load VentasTags %}
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Productos <small>del establecimientos</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table id="listaCuentas" class="table table-striped table-bordered" style="width:100%">
                                        <thead style="background-color: #2A3F54; color: white">
                                        <tr>
                                            <th style="text-align: center">ID</th>
                                             <th style="text-align: center">Fecha</th>
                                            <th style="text-align: center">Factura</th>
                                            <th style="text-align: center">Cliente</th>
                                            <th style="text-align: center">Valor Total</th>
                                            <th style="text-align: center">Valor Cancelado</th>
                                            <th style="text-align: center">Total a la fecha</th>
                                            <th style="text-align: center">Ver pagos</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for cuenta in cuentas %}
                                               <tr>
                                                   <td style="text-align: center; vertical-align: middle">{{ cuenta.id }}</td>
                                                   <td style="text-align: center; vertical-align: middle">{{ cuenta.fecha }}</td>
                                                   <td style="text-align: center; vertical-align: middle">{{ cuenta.factura_numero }}</td>
                                                   <td style="vertical-align: middle">{{ cuenta.cliente.nombres }} {{ cuenta.cliente.apellidos }}</td>
                                                   <td style="text-align: center; vertical-align: middle"><span style="font-size: 12px" class="badge badge-danger">{{ cuenta.cantidad }}</span></td>
                                                   <td style="text-align: center; vertical-align: middle"><span style="font-size: 12px" class="badge badge-info">{% pagos cuenta.id %}</span></td>
                                                   <td style="text-align: center; vertical-align: middle"><span style="font-size: 12px" class="badge badge-primary">{% saldos cuenta.id %}</span></td>

                                                   <td style="text-align: center"><a href="" class="btn btn-app"><i class="fa fa-binoculars"></i> Ver Abonos</a></td>
                                               </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script_index %}
    <script>
        $(document).ready(function () {
            $("#listaCuentas").DataTable({
                language: {
                    url: "{% static 'Spanish_dt.json' %}"
                },
                pageLength : 100,
            });
        });
    </script>
{% endblock %}