{% extends 'Home/index2.html' %}
{% block contenido_index %}
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>PROFORMAS</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <section class="content invoice" style="padding: 20px">
                        <!-- title row -->
                        <!-- info row -->
                    <img class="img-thumbnail" src="/media/{{ establecimiento.banner }}" style="width: 100%" alt="">
                        <div class="row invoice-info" style="padding-top: 10px">
                            <div class="col-sm-4 invoice-col">
                                {% if establecimientos %}
                                    Seleccione el Establecimiento
                                {% endif %}
                                <address>
                                    {% for establecimiento in establecimientos %}
                                        <a class="btn btn-success" href="/proforms/{{ establecimiento.id }}">{{ establecimiento }}</a>
                                    {% endfor %}
                                    {% if establecimiento %}
                                        <br><span style="font-size: 20px; font-weight: bold">{{ establecimiento.nombreComercial|upper }}</span>
                                        <br><span style="font-weight: bold">R.U.C.:</span>{{ establecimiento.ruc }}
                                    {% endif %}
                                    {% for direccion in establecimiento.direccion_set.all %}
                                        <br><span style="font-weight: bold">Dirección:</span> {{ direccion.direccion }}
                                        <br><span style="font-weight: bold">Ciudad:</span> {{ direccion.ciudad.provincia }} - {{ direccion.ciudad }}
                                        <br><span style="font-weight: bold">Teléfono:</span> {{ direccion.telefono}}
                                    {% endfor %}

                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                <span style="font-weight: bold; font-size: 20px">A FAVOR DE:</span>
                                <address>
                                    <strong>Nombre: </strong> Nombre completo
                                    <br><strong>Dirección: </strong>Direccion del cliente
                                    <br><strong>Ciudad: </strong>Ciudad del Cliente
                                    <br><strong>Teléfono:: </strong>Telefono del cliente
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                <b>No. 00000000000000001</b>
                                <br>
                                <br>
                                <b>Order ID:</b> 4F3S8J
                                <br>
                                <b>Payment Due:</b> 2/22/2014
                                <br>
                                <b>Account:</b> 968-34567
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <!-- Table row -->
                        <div class="row">
                            <div class="  table">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Qty</th>
                                        <th>Product</th>
                                        <th>Serial #</th>
                                        <th style="width: 59%">Description</th>
                                        <th>Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Call of Duty</td>
                                        <td>455-981-221</td>
                                        <td>El snort testosterone trophy driving gloves handsome gerry Richardson
                                            helvetica tousled street art master testosterone trophy driving gloves
                                            handsome gerry Richardson
                                        </td>
                                        <td>$64.50</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Need for Speed IV</td>
                                        <td>247-925-726</td>
                                        <td>Wes Anderson umami biodiesel</td>
                                        <td>$50.00</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Monsters DVD</td>
                                        <td>735-845-642</td>
                                        <td>Terry Richardson helvetica tousled street art master, El snort testosterone
                                            trophy driving gloves handsome letterpress erry Richardson helvetica tousled
                                        </td>
                                        <td>$10.70</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Grown Ups Blue Ray</td>
                                        <td>422-568-642</td>
                                        <td>Tousled lomo letterpress erry Richardson helvetica tousled street art master
                                            helvetica tousled street art master, El snort testosterone
                                        </td>
                                        <td>$25.99</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-md-6">
                                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                                    Los valores aquí expuestos pueden estar sujeto a cambios, Vigencia de la Proforma 1
                                    Mes.
                                </p>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">
                                <p class="lead">Amount Due 2/22/2014</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th style="width:50%">Subtotal:</th>
                                            <td>$250.30</td>
                                        </tr>
                                        <tr>
                                            <th>Tax (9.3%)</th>
                                            <td>$10.34</td>
                                        </tr>
                                        <tr>
                                            <th>Shipping:</th>
                                            <td>$5.80</td>
                                        </tr>
                                        <tr>
                                            <th>Total:</th>
                                            <td>$265.24</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                            <div class=" ">
                                <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i>
                                    Print
                                </button>
                                <button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit
                                    Payment
                                </button>
                                <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i
                                        class="fa fa-download"></i> Generate PDF
                                </button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}