<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        @page {
            size: A4 landscape;
            padding: 0;
            margin: 0;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>

    <title>{{ documento.numero }}</title>
</head>
<body>
<div style="border-right: lightgrey; height: 100%; width: 50%; float: left;">
    <table style="padding-left: 1cm; padding-right: 0.5cm">
        {% for detalle in detalles %}
            <tr style="padding-top:5px; padding-left: 2px; padding-right: 2px;">
                <td style="text-align: center; width:40px"> {{ detalle.producto.subcategoria|slice:3|upper }}{{ detalle.producto.id|stringformat:"03d" }}</td>
                <td>{{ detalle.producto }}</td>
                <td style="text-align: center; width:40px">{{ detalle.cantidad }}</td>
                <td style="text-align: right; width:60px">{{ detalle.subtotal }}</td>
                <td style="text-align: right; width:60px">{{ detalle.iva }}</td>
                <td style="text-align: right; width:60px">{{ detalle.total }}</td>
            </tr>
        {% endfor %}
        {% for item in items %}
            <tr style="padding-top:12px; padding-left: 2px; padding-right: 2px; color: white">
                <td style="text-align: center"> {{ item }}</td>
                <td>{{ item }}</td>
                <td style="text-align: center">{{ item }}</td>
                <td style="text-align: right">{{ item }}</td>
                <td style="text-align: right">{{ item }}</td>
                <td style="text-align: right">{{ item }}</td>
            </tr>
        {% endfor %}

    </table>
    <br>
    <br>
    <table>
        <tr style="padding-left: 2px; padding-right: 2px">
            <td colspan="5" rowspan="3"></td>
            <td style="text-align: right">Subtotal</td>
            <td style="text-align: right"> {{ documento.subtotal }}</td>
        </tr>
        <tr style="padding-top:5px; padding-left: 2px; padding-right: 2px">
            <td style="text-align: right"> IVA</td>
            <td style="text-align: right"> {{ documento.iva }}</td>
        </tr>
        <tr style="padding-top:5px; padding-left: 2px; padding-right: 2px">
            <td style="text-align: right"> Total</td>
            <td style="text-align: right"> {{ documento.total }}</td>
        </tr>
    </table>
</div>
<div style=" height: 100%; width: 50%; float: right;">
    <table style="padding-right: 1cm; padding-left: 0.5cm">
        {% for detalle in detalles %}
            <tr style="padding-top:5px; padding-left: 2px; padding-right: 2px;">
                <td style="text-align: center; width:40px">{{ detalle.producto.subcategoria|slice:3|upper }}{{ detalle.producto.id|stringformat:"03d" }}</td>
                <td>{{ detalle.producto }}</td>
                <td style="text-align: center; width:40px">{{ detalle.cantidad }}</td>
                <td style="text-align: right; width:60px">{{ detalle.subtotal }}</td>
                <td style="text-align: right; width:60px">{{ detalle.iva }}</td>
                <td style="text-align: right; width:60px">{{ detalle.total }}</td>
            </tr>
        {% endfor %}
        {% for item in items %}
            <tr style="padding-top:12px; padding-left: 2px; padding-right: 2px; color: white">
                <td style="text-align: center"> {{ item }}</td>
                <td>{{ item }}</td>
                <td style="text-align: center">{{ item }}</td>
                <td style="text-align: right">{{ item }}</td>
                <td style="text-align: right">{{ item }}</td>
                <td style="text-align: right">{{ item }}</td>
            </tr>
        {% endfor %}

    </table>
    <br>
    <br>
    <table>
        <tr style="padding-left: 2px; padding-right: 2px">
            <td colspan="5" rowspan="3"></td>
            <td style="text-align: right">Subtotal</td>
            <td style="text-align: right"> {{ documento.subtotal }}</td>
        </tr>
        <tr style="padding-top:5px; padding-left: 2px; padding-right: 2px">
            <td style="text-align: right"> IVA</td>
            <td style="text-align: right"> {{ documento.iva }}</td>
        </tr>
        <tr style="padding-top:5px; padding-left: 2px; padding-right: 2px">
            <td style="text-align: right"> Total</td>
            <td style="text-align: right"> {{ documento.total }}</td>
        </tr>
    </table>
</div>


</body>
</html>
