{% extends 'Home/index2.html' %}
{% block contenido_index %}
    {% load static %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <!--Crear direcciones de los establecimientos -->
    <div class="modal fade bs-example-modal-lg" id="registro" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Registro de Direcciones</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="x_panel">
                        <div class="x_content">
                            <br>
                            <form class="form-label-left input_mask" method="post"
                                  action="/business/direcction/{{ establecimiento.id }}/">
                                {% csrf_token %}
                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <select class="js-example-basic-single" style="width: 100%" id="ciudades" required="required"
                                            name="ciudad" multiple>
                                        {% for provincia in provincias %}
                                            <optgroup label="{{ provincia.nombre }}"></optgroup>
                                            {% for ciudad in provincia.ciudad_set.all %}
                                                <option value="{{ ciudad.id }}">{{ ciudad.nombre }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="direccion"
                                           id="direccion" required="required"
                                           placeholder="Aquí la dirección">
                                    <span class="fa fa-globe form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="telefono"
                                           id="telefono"
                                           placeholder="Ingrese Teléfono">
                                    <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="ln_solid"></div>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar
                                        </button>
                                        <button class="btn btn-primary" type="reset">Limpiar Formulario</button>
                                        <button type="submit" class="btn btn-success">Registrar Datos</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="row">
        <form data-parsley-validate="" class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="col-md-8 col-sm-8">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><small>Registro de establecimientos</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Nuevos Establecimientos</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="dropdown-item" href="/business/"><i class="fa fa-plus-circle"> </i>
                                        Agregar</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Nombre de
                                    usuario <span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" id="username" value="{{ request.user.username }}" readonly
                                           required="required" class="form-control ">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Acceso
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" id="slug" value="{{ establecimiento.slug }}" readonly
                                           class="form-control" placeholder="Se crea automáticamente">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">RUC <span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" id="ruc" value="{{ establecimiento.ruc }}" name="ruc"
                                           maxlength="13" required="required" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Nombre
                                    Comercial</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input id="nombreComercial" value="{{ establecimiento.nombreComercial }}"
                                           required="required" class="form-control" type="text" name="nombreComercial">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Representante
                                    Legal</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input id="representateLegal" value="{{ establecimiento.representateLegal }}"
                                           required="required" class="form-control" type="text"
                                           name="representateLegal">
                                </div>
                            </div>
                            <hr>
                            <label for="">Datos para la tienda virtual, (Opcionales)</label>
                            <div class="item form-group">
                                <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Ubicacion Geografica (GPS)</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" name="ubicacion" value="{{ establecimiento.ubicacion_gps }}" id="ubicacion" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Correo Electrónico</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="email" name="email" value="{{ establecimiento.correo_electronico }}" id="email" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Descripción</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <textarea required="required" name="descripcion" id="descripcion" cols="30"
                                              rows="10">{{ establecimiento.descripcion }}</textarea>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Cabecera en Tienda</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="file" name="cabecera_tienda" id="cabecera_tienda" class="form-control">
                                    <span>Acualmente: </span>
                                    <img style="width: 100%" src="/media/{{ establecimiento.cabecera_tienda }}" alt="">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Sitio Web</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" name="web" value="{{ establecimiento.web }}" id="web" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Facebook</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" name="facebook" value="{{ establecimiento.facebook }}" id="facebook" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Instagram</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" name="instagram" value="{{ establecimiento.instagram }}" id="instagram" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Youtube</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" name="youtube" value="{{ establecimiento.youtube }}" id="youtube" class="form-control">
                                </div>
                            </div>



                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-9 col-sm-9 offset-md-6">
                                    <button class="btn btn-success" type="reset"><i class="fa fa-edit"> </i> Limpiar
                                    </button>
                                    <button type="submit" class="btn btn-danger"><i class="fa fa-save"> </i> Guardar
                                    </button>
                                    <a href="/business/" class="btn btn-primary"><i class="fa fa-reply"> </i> Volver</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><small>Cargue aquí su Logo y Banner</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="dashboard-widget-content">
                            <ul class="list-unstyled timeline widget">
                                    <li style="padding: 20px">
                                        {% if establecimiento.logo %}
                                            <span>Logo Actual: {{ establecimiento.logo }}</span>
                                            <div style="padding: 10px;">
                                                <img style="width: 100px; display: block;" src="/media/{{ establecimiento.logo }}" alt="image">
                                            </div>

                                        {% endif %}

                                        <input type="file" name="logo" id="logo">
                                    </li>
                                    <li style="padding: 20px">
                                        {% if establecimiento.banner %}
                                            <span>Banner Actual: {{ establecimiento.banner }}</span><br>
                                            <div style="padding: 10px; text-align: center">
                                                <img style="width: 100%; display: block;" src="/media/{{ establecimiento.banner }}" alt="image">
                                            </div>
                                        {% endif %}
                                        <input type="file" name="banner" id="banner">
                                    </li>
                                    <li style="padding: 20px">
                                        {% if establecimiento.pie_pagina %}
                                            <span>Pie de Pagina Actual: {{ establecimiento.pie_pagina|truncatechars:70 }}</span><br>
                                            <div style="padding: 10px">
                                                <img style="width: 100%; display: block;" src="/media/{{ establecimiento.pie_pagina }}" alt="image">
                                            </div>
                                        {% endif %}
                                        <input type="file" name="pie" id="pie">
                                    </li>
                                     <li style="padding: 20px">
                                         <span>Color del Encabezado:</span><br>
                                        <input class="form-control" type="text" value="{{ establecimiento.color_encabezado_documentos }}" name="color" id="color">
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2><small>Direcciones de establecimientos</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">Nuevas Direcciones</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#registro"><i
                                            class="fa fa-plus-circle"> </i> Agregar</a>
                                    <a class="dropdown-item" href="/directions/"><i class="fa fa-edit"> </i>
                                        Modificar/Eliminar</a>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="dashboard-widget-content">
                            <ul class="list-unstyled timeline widget">
                                {% for direccion in establecimiento.direccion_set.all %}
                                    <li>
                                        <div class="block">
                                            <div class="block_content">
                                                <h2 class="title">
                                                    <a>{{ direccion.ciudad.provincia.pais.nombre }}
                                                        - {{ direccion.ciudad.provincia.nombre }}
                                                        - {{ direccion.ciudad.nombre }} </a>
                                                </h2>
                                                <div class="byline">
                                                    <span>Teléfono:</span> <a>{{ direccion.telefono }}</a>
                                                </div>
                                                <p class="excerpt">{{ direccion.direccion }}</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}
{% block script_index %}
    <script>
        CKEDITOR.replace('descripcion');
    </script>
    <script src="{% static 'select2/js/select2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}">
    <script>
        $(".js-example-basic-single").select2({
            maximumSelectionLength: 1
        });
    </script>
{% endblock %}