{% extends 'Home/index2.html' %}
{% block contenido_index %}
    {% load static %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <!--Crear y modificar establecimientos -->
    <div class="modal fade bs-example-modal-lg" id="registro" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Registro de establecimientos</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="x_panel">
                        <div class="x_content">
                            <br>
                            <form id="formRegistrar" class="form-label-left input_mask" method="post">
                                {% csrf_token %}
                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left"
                                           value="{{ request.user.username }}" readonly name="username" id="username"
                                           placeholder="Username">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="ruc" id="ruc"
                                           placeholder="RUC">
                                    <span class="fa fa-credit-card-alt form-control-feedback left"
                                          aria-hidden="true"></span>
                                </div>

                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="representateLegal"
                                           id="representateLegal"
                                           placeholder="Representate Legal">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="nombreComercial"
                                           id="nombreComercial"
                                           placeholder="Nombre Comercial">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <textarea name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
                                    <script>
                                        CKEDITOR.replace('descripcion');
                                    </script>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="ln_solid"></div>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar
                                        </button>
                                        <button class="btn btn-primary" type="reset">Limpiar Formulario</button>
                                        <button type="submit" class="btn btn-success">Registrar Datos</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--borrar establecimientos -->
    <div class="modal fade bs-example-modal-lg" id="eliminar" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Mensaje!</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center">
                    <i class="fa fa-exclamation-triangle" style="font-size: 50px; color: darkorange"></i><br>
                    <p id="mensaje"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="eliminarRegistro" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 ">

            <div class="x_panel">
                <div class="x_title">
                    <h2><small>Establecimientos Registrados</small></h2>
                    <ul class="nav navbar-right panel_toolbox">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">Opciones</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#registro"><i
                                        class="fa fa-file-o"> </i> Registra Nuevo</a>
                                <a class="dropdown-item" id="delete" href="#" data-toggle="modal"
                                   data-target="#eliminar"><i class="fa fa-trash"> </i> Eliminar
                                    Registro</a>
                            </div>
                        </li>
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <p>Puede seleccionar uno o varios</p>

                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th>
                                    <input type="checkbox" id="check-all" class="flat">
                                </th>
                                <th class="column-title">Id</th>
                                <th class="column-title">Username</th>
                                <th class="column-title">Representante Legal</th>
                                <th class="column-title">Nombre Comercial</th>
                                <th class="column-title">RUC</th>
                                <th class="column-title">Descripción</th>
                                <th class="column-title text-center">Dirección</th>
                                <th class="column-title text-center">Opciones</th>
                                </th>
                                <th class="bulk-actions" colspan="8">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Seleccionados ( <span
                                            class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for empresa in empresas %}
                                <tr class="even pointer">
                                    <td class="a-center" style="vertical-align: middle">
                                        <input type="checkbox" value="{{ empresa.establecimiento.id }}" class="flat table_records"
                                               name="table_records">
                                    </td>
                                    <td class=" " style="vertical-align: middle">{{ empresa.establecimiento.id }}</td>
                                    <td class=" " style="vertical-align: middle" >{{ empresa.user.username }}</td>
                                    <td class=" " style="vertical-align: middle" >{{ empresa.establecimiento.representateLegal }}</td>
                                    <td class=" " style="vertical-align: middle" >{{ empresa.establecimiento.nombreComercial }}</td>
                                    <td class=" " style="vertical-align: middle" >{{ empresa.establecimiento.ruc }}</td>
                                    <td class=" " style="vertical-align: middle" >{{ empresa.establecimiento.descripcion|safe }}</td>
                                    <td class="text-center" style="vertical-align: middle">{% for direccion in empresa.establecimiento.direccion_set.all %}
                                        {{ direccion|safe }}
                                    {% endfor %}
                                    </td>
                                    <td style="text-align: center; vertical-align: middle">
                                        <a href="/business/edit/{{ empresa.establecimiento.id }}"><i class="fa fa-edit"></i> </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_index %}
    <script>
        function removeItemFromArr(arr, item) {
            var i = arr.indexOf(item);
            if (i !== -1) {
                arr.splice(i, 1);
            }
        }

        let valores = []
        $('.table_records').on('ifChecked', function (event) {
            valores.push($(this).val())
            console.log(valores)
        });
        $('.table_records').on('ifUnchecked', function () {
            valores.splice($.inArray($(this).val(), valores), 1);
            console.log(valores)
        });
        $("#eliminarRegistro").click(function () {
            if (valores.length > 0) {
                var URLactual = window.location.href;
                console.log(URLactual + "remove/?ids=" + valores)
                location.href = URLactual + "remove/?ids=" + valores
                $("#eliminarRegistro").removeAttr('disabled')
                $("#eliminarRegistro").show()
            } else {
                $("#eliminarRegistro").show()
                $("#eliminarRegistro").attr('disabled', 'disabled')
            }
        });
        $('#delete').click(function () {
            if (valores.length <= 0) {
                $("#mensaje").text("Debe seleccionar al menos un registro")
                $("#eliminarRegistro").show()
                $("#eliminarRegistro").attr('disabled', 'disabled')
            } else {
                $("#mensaje").text("¿Esta seguro que desea Eliminar los establecimientos seleccionados?")
                $("#eliminarRegistro").show()
                $("#eliminarRegistro").removeAttr('disabled')
            }
        });
    </script>
{% endblock %}