{% extends 'Home/index2.html' %}
{% block contenido_index %}
    {% load static %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <div class="modal fade bs-example-modal-lg" id="registro" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Registro de establecimientos</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="x_panel">
                        <div class="x_content">
                            <br>
                            <form class="form-label-left input_mask" method="post">
                                    {% csrf_token %}
                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left"
                                           value="{{ request.user.username }}" readonly name="username" id="username"
                                           placeholder="Username">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="ruc" id="ruc"
                                           placeholder="RUC">
                                    <span class="fa fa-credit-card-alt form-control-feedback left"
                                          aria-hidden="true"></span>
                                </div>

                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="representateLegal" id="representateLegal"
                                           placeholder="Representate Legal">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="nombreComercial" id="nombreComercial"
                                           placeholder="Nombre Comercial">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-12 col-sm-12  form-group has-feedback">
                                    <textarea name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
                                    <script>
                                        CKEDITOR.replace('descripcion');
                                    </script>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="ln_solid"></div>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar
                                        </button>
                                        <button class="btn btn-primary" type="reset">Limpiar Formulario</button>
                                        <button type="submit" class="btn btn-success">Registrar Datos</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 ">

            <div class="x_panel">
                <div class="x_title">
                    <h2><small>Establecimientos Registrados</small></h2>
                    <ul class="nav navbar-right panel_toolbox">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">Opciones</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#registro"><i
                                        class="fa fa-file-o"> </i> Registra Nuevo</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-edit"> </i> Modificar Registro</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-trash"> </i> Eliminar Registro</a>
                            </div>
                        </li>
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <p>Puede seleccionar uno o varios</p>

                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th>
                                    <input type="checkbox" id="check-all" class="flat">
                                </th>
                                <th class="column-title">Id</th>
                                <th class="column-title">Username</th>
                                <th class="column-title">Representante Legal</th>
                                <th class="column-title">Nombre Comercial</th>
                                <th class="column-title">RUC</th>
                                <th class="column-title">Descripción</th>
                                <th class="column-title">Dirección</th>
                                <th class="column-title no-link last"><span class="nobr">Acciones</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Seleccionados ( <span
                                            class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for empresa in empresas %}
                            <tr class="even pointer">
                                <td class="a-center ">
                                    <input type="checkbox" value="1" class="flat" name="table_records">
                                </td>
                                <td class=" ">{{ empresa.id }}</td>
                                <td class=" ">{{ empresa.usuario.username }}</td>
                                <td class=" ">{{ empresa.representateLegal}}</td>
                                <td class=" ">{{ empresa.nombreComercial}}</td>
                                <td class=" ">{{ empresa.ruc }}</td>
                                <td class=" ">{{ empresa.descripcion|safe }}</td>
                                <td class=" ">
                                    {{ empresa.direccion_set }}
                                </td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}