<!DOCTYPE html>
{% load static %}
{% load productosTags %}
{% load humanize %}
<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Eraly Store</title>
    {% block metas %}
    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">
    {% endblock %}
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'Store/img/favicon.ico' %}" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{% static 'Store/img/apple-touch-icon.png' %}">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
          rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'Store/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Store/vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'Store/vendor/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'Store/vendor/simple-line-icons/css/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'Store/vendor/owl.carousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'Store/vendor/owl.carousel/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'Store/vendor/magnific-popup/magnific-popup.min.css' %}">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'Store/css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'Store/css/theme-elements.css' %}">
    <link rel="stylesheet" href="{% static 'Store/css/theme-blog.css' %}">
    <link rel="stylesheet" href="{% static 'Store/css/theme-shop.css' %}">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="{% static  'Store/vendor/rs-plugin/css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'Store/vendor/rs-plugin/css/layers.css' %}">
    <link rel="stylesheet" href="{% static 'Store/vendor/rs-plugin/css/navigation.css' %}">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="{% static 'Store/css/skins/skin-shop-8.css' %}">

    <!-- Demo CSS -->
    <link rel="stylesheet" href="{% static 'Store/css/demos/demo-shop-8.css' %}">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'Store/css/custom.css' %}">


    <!-- Head Libs -->
    <script src="{% static 'Store/vendor/modernizr/modernizr.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'starrr/starrr.css' %}">


</head>
<body>

<div class="body">
    <header id="header"
            data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 147, 'stickySetTop': '-147px', 'stickyChangeLogo': false}">
        <div class="header-body">
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-logo">
                            <a href="/store/">
                                <img alt="Porto" width="111" height="51"
                                     src="{% static 'Store/img/demos/shop/logo-shop-red.png' %}">
                            </a>
                        </div>
                    </div>
                    <div class="header-column">
                        <div class="row">
                            <div class="cart-area">
                                <div class="custom-block">
                                    {% if request.user.id %}
                                        <a href="/store/dashboard/"><i class="fa fa-user"></i> Hola {{ request.user.first_name }}</a>
                                        {% if request.user.is_staff %}
                                            <a href="/"><i class="fa fa-user-circle"></i> Panel de Administración</a>
                                        {% endif %}
                                        <a href="/logout_/?useranon=no"><i class="fa fa-power-off"></i> Cerrar
                                            Sesión</a>
                                    {% else %}
                                        <a href="/store/login/"><i class="fa fa-user-circle"></i> Iniciar Sesión</a>
                                    {% endif %}

                                </div>

                                <div class="cart-dropdown">
                                    <a href="#" class="cart-dropdown-icon">
                                        <i class="minicart-icon"></i>
                                        <span class="cart-info">
													<span class="cart-qty">0</span>
													<span class="cart-text">item(s)</span>
												</span>
                                    </a>

                                    <div class="cart-dropdownmenu right">
                                        <div class="dropdownmenu-wrapper">
                                            <div class="cart-products cx">
                                                <div class="product product-sm">
                                                    <a href="#" class="btn-remove" title="Remove Product">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                    <figure class="product-image-area">
                                                        <a href="demo-shop-8-product-details.html" title="Product Name"
                                                           class="product-image">
                                                            <img src="{% static 'Store/img/demos/shop/products/thumbs/cart-product1.jpg' %}"
                                                                 alt="Product Name">
                                                        </a>
                                                    </figure>
                                                    <div class="product-details-area">
                                                        <h2 class="product-name"><a
                                                                href="demo-shop-8-product-details.html"
                                                                title="Product Name">Blue Women Top</a></h2>

                                                        <div class="cart-qty-price">
                                                            1 X
                                                            <span class="product-price">$65.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="cart-totals"></div>

                                            <div class="cart-actions">
                                                <a href="/store/view/cart/" class="btn btn-primary">Ver Carrito</a>
                                                <a href="/store/checkout/" class="btn btn-primary">Pagar
                                                    Ahora!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="header-search">
                                <a href="#" class="search-toggle"><i class="fa fa-search"></i></a>
                                <form action="/store/search/" method="get">
                                    <div class="header-search-wrapper" style="padding-right: 0px; padding-right: 45px">
                                        <input type="text" class="form-control" name="q" id="q" placeholder="Búscar..."
                                               value="{{ q }}"
                                               required>
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <a href="#" class="mmenu-toggle-btn" title="Toggle menu">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-container header-nav">
                <div class="container">
                    <div class="header-nav-main">
                        <nav>
                            <ul class="nav nav-pills" id="mainNav">
                                <li class="dropdown"><a href="" class="dropdown-toggle">Tiendas</a>
                                    <ul class="dropdown-menu">
                                        {% for tienda in request.session.tiendas %}
                                            <li><a href="/{{ tienda.slug }}/">{{ tienda.nombre }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% for categoria in categorias %}
                                    <li class="dropdown dropdown-mega">
                                        <a class="dropdown-toggle" href="#">
                                            {{ categoria.nombre }}
                                            <i class="fa fa-caret-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="dropdown-mega-content">
                                                    <div class="row">
                                                        {% for sub in categoria.subcategorias_set.all %}
                                                            {% if forloop.counter <= 50 %}
                                                                <div class="col-md-3">
                                                                    <span class="dropdown-mega-sub-title">{{ sub.nombre }}</span>
                                                                    <ul class="dropdown-mega-sub-nav">
                                                                        {% for sub2 in sub.subcategorias_2_set.all %}
                                                                            {% if forloop.counter < 5 %}
                                                                                <li>
                                                                                    <a style="text-decoration: none"
                                                                                       href="/store/category/?subcategoria={{ sub.id }}">{{ sub2.nombre }}</a>
                                                                                </li>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                        <li><a href=""
                                                                               style="text-decoration: none; color: red">Ver
                                                                            mas</a></li>
                                                                    </ul>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                                <li class="pull-right">
                                    <a href="/store/contact/">
                                        contáctanos <span class="tip tip-hot">Nuevo!</span>
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="mobile-nav">
        <div class="mobile-nav-wrapper">
            <ul class="mobile-side-menu">
                <li><a href="/">Inicio</a></li>
                {% if not request.user.username %}
                    <li><a href="/store/login/">Logín</a></li>
                {% endif %}
                <li>
                    <span class="mmenu-toggle"></span>
                    <a style="cursor: pointer">Categorías</a>
                    <ul>
                        {% for categoria in categorias %}
                            <li>
                                <span class="mmenu-toggle"></span>
                                <a href="/store/category/?categoria={{ categoria.id }}">{{ categoria.nombre }}</a>
                                <ul>
                                    {% for sub in categoria.subcategorias_set.all %}
                                        <li><a href="/store/category/?subcategoria={{ sub.id }}">{{ sub.nombre }}</a>
                                        </li>
                                    {% endfor %}


                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% if request.user.username %}
                    <li>
                        <span class="mmenu-toggle"></span>
                        <a style="cursor: pointer">Panel de {{ request.user.first_name }}</a>
                        <ul>
                            {% if request.user.is_staff %}
                                <a href="/">Panel de Administración</a>
                            {% endif %}
                            <li><a href="/store/dashboard/">Dashboard</a></li>
                            <li><a href="/store/account/">Información de la Cuenta</a></li>
                            <li><a href="/store/directory/">Directorio</a></li>
                            <li><a href="/store/shopp/">Mis Ordenes</a></li>
                            <li><a href="/logout_/?useranon=no">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                {% endif %}


            </ul>
        </div>
    </div>

    <div id="mobile-menu-overlay"></div>

    <div role="main" class="main">
        {% block content %}
            <div class="slider-container rev_slider_wrapper">
                <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider
                     data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 350, 'disableProgressBar': 'on'}">
                    <ul>
                        <li data-transition="fade">
                            <img src="{% static 'Store/img/slides/slide-bg.jpg' %}"

                                 alt=""
                                 data-bgposition="center center"
                                 data-bgfit="cover"
                                 data-bgrepeat="no-repeat"
                                 class="rev-slidebg">

                            <div class="tp-caption top-label"
                                 data-x="227"
                                 data-y="100"
                                 data-start="500"
                                 data-transform_in="y:[-300%];opacity:0;s:500;">Todo lo que buscas
                            </div>


                            <div class="tp-caption main-label"
                                 data-x="135"
                                 data-y="130"
                                 data-start="1500"
                                 data-whitespace="nowrap"
                                 data-transform_in="y:[100%];s:500;"
                                 data-transform_out="opacity:0;s:500;"
                                 data-mask_in="x:0px;y:0px;">ERALY STORE
                            </div>

                            <div class="tp-caption bottom-label"
                                 data-x="185"
                                 data-y="200"
                                 data-start="2000"
                                 data-transform_in="y:[100%];opacity:0;s:500;">Desde la comodidad de tu hogar.
                            </div>

                            <div class="tp-caption"
                                 data-x="910"
                                 data-y="130"
                                 data-start="2500"
                                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;"><img
                                    src="{% static 'Store/img/slides/slide-concept-2-1.png' %}" alt=""></div>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="homepage-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa fa-truck bar-icon"></i>
                            <div class="bar-textarea">
                                <h3>Envío apróx. 3 a 5 días laborables</h3>
                                <p>Envío gratis en todos los pedidos superiores a $ 99</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-dollar bar-icon"></i>
                            <div class="bar-textarea">
                                <h3>Pagos con tarjetas</h3>
                                <p>de Crédito o Débito</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-support bar-icon"></i>
                            <div class="bar-textarea">
                                <h3>SOPORTE EN LÍNEA </h3>
                                <p>Via Chat o Llamada</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 normal">
                        <div class="tabs home-products-tab">
                            <ul class="nav nav-links">
                                <li class="active">
                                    <a href="#featured" data-toggle="tab">Productos Destacados</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="featured" class="tab-pane active">
                                    <ul class="products-grid columns4">
                                        <div class="owl-carousel owl-theme"
                                             data-plugin-options="{'items': 4, 'autoplay': true, 'autoplayTimeout': 3000, margin:10}">
                                            {% for producto in productos %}
                                                <div class="product">
                                                    <figure class="product-image-area">
                                                        <a href="/store/details/?hash={{ producto.hash }}"
                                                           title="{{ producto.nombre }}"
                                                           class="product-image">
                                                            {% if producto.imagen %}
                                                                <img src="/media/{{ producto.imagen }}"
                                                                     title="{{ producto.nombre }}">
                                                                <img src="/media/{{ producto.imagen }}"
                                                                     alt="Product Name" class="product-hover-image">
                                                            {% else %}
                                                                <img src="{% static 'noimagen.jpg' %}"
                                                                     title="{{ producto.nombre }}">
                                                                <img src="{% static 'noimagen.jpg' %}"
                                                                     alt="Product Name" class="product-hover-image">
                                                            {% endif %}
                                                        </a>

                                                        <a href="/store/details/?hash={{ producto.hash }}"
                                                           class="product-quickview">
                                                            <i class="fa fa-minus-circle"></i>

                                                        </a>
                                                        {% promocion_descuento producto.id %}
                                                        <div class="product-actions">
                                                            <a style="cursor: pointer" class="addtocart"
                                                               data-prod="{{ producto.id }}"
                                                               data-promo="{% promocion_id producto.id %}"
                                                               title="Add to Cart">
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </a>
                                                        </div>
                                                    </figure>
                                                    <div class="product-details-area">
                                                        <h2 class="product-name">
                                                            <a href="/store/details/?hash={{ producto.hash }}"
                                                               title="Product Name">{{ producto.nombre }}</a>
                                                        </h2>
                                                        <div class="product-ratings">
                                                            <div>
                                                                <div class="rating-{{ producto.id }}"></div>
                                                            </div>
                                                        </div>

                                                        <div class="product-price-box">
                                                            {% for precio in producto.precios_set.all %}
                                                                {% if precio.web %}
                                                                    <span class="product-price">${{ precio.precioVenta }}</span>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 normal">
                                    <div class="tabs home-products-tab">
                                        <ul class="nav nav-links">

                                            <li>
                                                <a href="#latest" data-toggle="tab">Top Productos </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <ul class="products-grid columns4">
                                        {% for puntuado in puntuados %}
                                            <li>
                                                <div class="product">
                                                    <figure class="product-image-area thumb-info-zoom product-img-zoom ">
                                                        <a href="/store/details/?hash={{ puntuado.hash }}"
                                                           title="{{ puntuado.nombre }}"
                                                           class="product-image">
                                                            {% if puntuado.imagen %}
                                                                <img src="/media/{{ puntuado.imagen }}"
                                                                     alt="{{ puntuado.nombre }}">

                                                                <img src="/media/{{ puntuado.imagen }}"
                                                                     alt="{{ puntuado.nombre }}"
                                                                     class="product-hover-image">
                                                            {% else %}
                                                                <img src="{% static 'noimagen.jpg' %}"
                                                                     alt="{{ puntuado.nombre }}">

                                                                <img src="{% static 'noimagen.jpg' %}"
                                                                     alt="{{ puntuado.nombre }}"
                                                                     class="product-hover-image">
                                                            {% endif %}

                                                        </a>

                                                        {% promocion_descuento puntuado.id %}
                                                        <div class="product-actions">
                                                            <a style="cursor: pointer" class="addtocart"
                                                               data-prod="{{ puntuado.id }}"
                                                               data-promo="{% promocion_id puntuado.id %}"
                                                               title="Add to Cart">
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </a>
                                                        </div>
                                                    </figure>
                                                    <div class="product-details-area">
                                                        <h2 class="product-name"><a
                                                                href="/store/details/?hash={{ puntuado.hash }}"
                                                                title="Product Name">{{ puntuado.nombre }}</a>
                                                        </h2>
                                                        <div class="product-ratings">
                                                            <div>
                                                                <div class="rat-{{ puntuado.id }}"></div>
                                                            </div>
                                                        </div>
                                                        <div class="product-price-box">
                                                            {% for precio in puntuado.precios_set.all %}
                                                                {% if precio.web %}
                                                                    <span class="product-price">${{ precio.precioVenta }}</span>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="pagination pull-right">
                                        {% if puntuados.has_previous %}
                                            <li>
                                                <a href="?page={{ puntuados.previous_page_number }}">
                                                    <i class="fa fa-chevron-left"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li class="active">
                                            <a href="?page={{ puntuados.number }}">{{ puntuados.number }}</a>
                                        </li>
                                        {% if puntuados.has_next %}
                                            <li>
                                                <a href="?page={{ puntuados.next_page_number }}">
                                                    <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 normal">
                        <div class="tabs home-products-tab">
                            <ul class="nav nav-links">

                                <li>
                                    <a href="#latest" data-toggle="tab">Nuevos Productos </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="featured" class="tab-pane active">
                                    <ul class="products-grid columns4">

                                        <div class="owl-carousel owl-theme"
                                             data-plugin-options="{'items':4 , 'autoplay': false, 'autoplayTimeout': 3000, margin:10 }">
                                            {% for nuevo in nuevos %}
                                                <div class="product">
                                                    <figure class="product-image-area">
                                                        <a href="/store/details/?hash={{ nuevo.hash }}"
                                                           title="Product Name"
                                                           class="product-image">
                                                            {% if nuevo.imagen %}
                                                                <img src="/media/{{ nuevo.imagen }}"
                                                                     alt="Product Name">
                                                                <img src="/media/{{ nuevo.imagen }}"
                                                                     alt="Product Name" class="product-hover-image">
                                                            {% else %}
                                                                <img src="{% static 'noimagen.jpg' %}"
                                                                     alt="Product Name">
                                                                <img src="{% static 'noimagen.jpg' %}"
                                                                     alt="Product Name" class="product-hover-image">
                                                            {% endif %}
                                                        </a>
                                                        {% promocion_descuento nuevo.id %}
                                                        <div class="product-actions">
                                                            <a style="cursor: pointer" class="addtocart"
                                                               data-prod="{{ nuevo.id }}"
                                                               data-promo="{% promocion_id nuevo.id %}"
                                                               title="Add to Cart">
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </a>
                                                        </div>
                                                    </figure>
                                                    <div class="product-details-area">
                                                        <h2 class="product-name"><a
                                                                href="/store/details/?hash={{ nuevo.hash }}"
                                                                title="Product Name">{{ nuevo.nombre }}</a>
                                                        </h2>
                                                        <div class="product-price-box">
                                                            {% for precio in nuevo.precios_set.all %}
                                                                {% if precio.web %}
                                                                    <span class="product-price">${{ precio.precioVenta }}</span>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}


                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}
    </div>


    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer-ribbon">
                    <span>Ponerse en contacto</span>
                </div>

                <div class="col-md-3">
                    <h4>Mi cuenta</h4>
                    <ul class="links">
                        <li>
                            <i class="fa fa-caret-right text-color-primary"></i>
                            <a href="demo-shop-8-about-us.html">Sobre nosotros</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right text-color-primary"></i>
                            <a href="demo-shop-8-contact-us.html">Contáctenos</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right text-color-primary"></i>
                            <a href="demo-shop-8-myaccount.html"> Mi cuenta</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right text-color-primary"></i>
                            <a href="#"> Historial de pedidos</a>
                        </li>
                        <li>
                            <i class="fa fa-caret-right text-color-primary"></i>
                            <a href="#">Búsqueda Avanzada</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="contact-details">
                        <h4>Información del contacto</h4>
                        <ul class="contact">
                            <li><p><i class="fa fa-map-marker"></i> <strong>Dirección:</strong><br> 1234 Street Name,
                                City, US</p></li>
                            <li><p><i class="fa fa-phone"></i> <strong>Teléfono:</strong><br> (123) 456-7890</p></li>
                            <li><p><i class="fa fa-envelope-o"></i> <strong>Correo electrónico:</strong><br> <a
                                    href="mailto:mail@example.com">mail@example.com</a></p></li>
                            {#									<li><p><i class="fa fa-clock-o"></i> <strong>Días / Horas Laborable:</strong><br> Mon - Sun / 9:00AM - 8:00PM</p></li>#}
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Main Features</h4>
                    <ul class="features">
                        <li>
                            <i class="fa fa-check text-color-primary"></i>
                            <a href="#">Super Fast Template</a>
                        </li>
                        <li>
                            <i class="fa fa-check text-color-primary"></i>
                            <a href="#">1st Seller Template</a>
                        </li>
                        <li>
                            <i class="fa fa-check text-color-primary"></i>
                            <a href="#">19 Unique Shop Layouts</a>
                        </li>
                        <li>
                            <i class="fa fa-check text-color-primary"></i>
                            <a href="#">Powerful Template Features</a>
                        </li>
                        <li>
                            <i class="fa fa-check text-color-primary"></i>
                            <a href="#">Mobile &amp; Retina Optimized</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="newsletter">
                        <h4>Se el primero en saberlo</h4>
                        <p class="newsletter-info">Obtenga toda la información más reciente sobre eventos,ventas y
                            ofertas. Regístrese para recibir el boletín hoy.</p>

                        <div class="alert alert-success hidden" id="newsletterSuccess">
                            <strong>Success!</strong> You've been added to our email list.
                        </div>

                        <div class="alert alert-danger hidden" id="newsletterError"></div>


                        <p>Ingrese su dirección de correo electrónico:</p>
                        <form id="newsletterForm" action="../php/newsletter-subscribe.php" method="POST">
                            <div class="input-group">
                                <input class="form-control" placeholder="Email Address" name="newsletterEmail"
                                       id="newsletterEmail" type="text">
                                <span class="input-group-btn">
											<button class="btn btn-primary" type="submit">Enviar</button>
										</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <a href="index.html" class="logo">
                    <img alt="Porto Website Template" class="img-responsive"
                         src="{% static 'Store/img/demos/shop/logo-footer.png' %}">
                </a>
                <ul class="social-icons">
                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank"
                                                         title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank"
                                                        title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank"
                                                         title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <img alt="Payments" src="{% static 'Store/img/demos/shop/payments.png' %}" class="footer-payment">
                <p class="copyright-text">© Copyright 2017. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</div>
<!-- Vendor -->
<script src="{% static 'Store/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'Store/vendor/jquery.appear/jquery.appear.min.js' %}"></script>
<script src="{% static 'Store/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'Store/vendor/jquery-cookie/jquery-cookie.min.js' %}"></script>
<script src="{% static 'Store/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'Store/vendor/common/common.min.js' %}"></script>
<script src="{% static 'Store/vendor/jquery.validation/jquery.validation.min.js' %}"></script>
<script src="{% static 'Store/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js' %}"></script>
<script src="{% static 'Store/vendor/jquery.gmap/jquery.gmap.min.js' %}"></script>
<script src="{% static 'Store/vendor/jquery.lazyload/jquery.lazyload.min.js' %}"></script>
<script src="{% static 'Store/vendor/isotope/jquery.isotope.min.js' %}"></script>
<script src="{% static 'Store/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'Store/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'Store/vendor/vide/vide.min.js' %}"></script>

<!-- Theme Base, Components and Settings -->
<script src="{% static 'Store/js/theme.js' %}"></script>


<script src="{% static 'Store/vendor/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'Store/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>

<!-- Current Page Vendor and Views -->
<script src="{% static 'Store/js/views/view.contact.js' %}"></script>


<!-- Demo -->
<script src="{% static 'Store/js/demos/demo-shop-8.js' %}"></script>

<!-- Theme Custom -->
<script src="{% static 'Store/js/custom.js' %}"></script>

<!-- Theme Initialization Files -->
<script src="{% static 'Store/js/theme.init.js' %}"></script>


<script src="{% static 'toastr/toastr.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'toastr/toastr.min.css' %}">
<script src="{% static 'toastr/customToastr.js' %}"></script>

<script src="{% static 'select2/js/select2.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}">


<script src="{% static 'starrr/starrr.js' %}"></script>


{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <script>
                toastr.{{ message.tags }}("{{ message }}")
            </script>
        {% endfor %}
    </ul>
{% endif %}

<script>
    var totalcarrito = 0
    var contador = 0

    function totales() {
        totalcarrito = 0
        $(".product-price-total").each(function () {
            $(".cart-totals").html("")
            totalcarrito += parseFloat($(this).val().replace(',', "."))
            $(".cart-totals").html("Total: <span>$" + totalcarrito.toFixed(2) + "</span>")
        });
    }


    $(".cx").html("")
    {% for car in request.session.carrito %}
        {% if car.producto_id%}
            $(".cx").append('<div class="product product-sm">' +
                '<a href="/store/add/cart/deleteItem/?product_id={{ car.hash }}" class="btn-remove" title="Remove Product">' +
                '<i class="fa fa-times"></i>'
                + '</a>' +
                '<figure class="product-image-area">' +
                '<a href="/store/details/?hash={{ car.hash }}" title="Product Name" class="product-image">' +
                '<img src="/media/{{ car.producto_imagen}}" alt="Product Name">' +
                '</a>' +
                '</figure>' +
                '<div class="product-details-area">' +
                '<h2 class="product-name" style="padding-right: 8px"><a href="/store/details/?hash={{ car.hash }}" title="Product Name">{{ car.producto_nombre }}</a></h2>' +
                '<div class="cart-qty-price">' +
                '{{car.cantidad}} x ' +
                '<span class="product-price">${{car.precio_promocion}}</span>' +
                '<input type="hidden" value="{{car.precio_total|intcomma}}" class="product-price-total"></input>' +
                '</div>' +
                '</div>' +
                '</div>')
        {% endif %}
        contador = {{ forloop.counter }}
    {% endfor %}
    totales()
    $(".cart-qty").text(contador)


    $(".addtocart").click(function () {
        $.get("/store/add/cart/", {
            producto: $(this).data('prod'),
            promocion: $(this).data('promo'),
            cantidad: 1,
        }, function (data) {
            console.log(data)
            if (data.producto_id > 0) {
                toastr.success("Se agregó al carrito..!")
                $(".cx").append('<div class="product product-sm">' +
                    '<a href="/store/add/cart/deleteItem/?product_id=' + data.hash + '" class="btn-remove" title="Remove Product">' +
                    '<i class="fa fa-times"></i>'
                    + '</a>' +
                    '<figure class="product-image-area">' +
                    '<a href="/store/details/?hash=' + data.hash + 'title="Product Name" class="product-image">' +
                    '<img src="/media/' + data.producto_imagen + '" alt="Product Name">' +
                    '</a>' +
                    '</figure>' +
                    '<div class="product-details-area">' +
                    '<h2 class="product-name" style="padding-right: 8px"><a href="/store/details/?hash=' + data.hash + '" title="Product Name">' + data.producto_nombre + '</a></h2>' +
                    '<div class="cart-qty-price">' + data.cantidad + ' x ' +
                    '<span class="product-price">$' + data.precio_promocion + '</span>' +
                    '<input type="hidden" value="' + data.precio_total + '" class="product-price-total"></input>' +
                    '</div>' +
                    '</div>' +
                    '</div>')
                contador += 1

            } else {
                console.log(data.producto_id)
            }
            $(".cart-qty").text(contador)
            totales()
        })
    })

</script>
<script>
    {% for puntuado in puntuados %}
        $('.rat-{{puntuado.id}}').starrr({
            rating: {% rating_productos puntuado.id %},
            max: 5,
            readOnly: true,
        })
    {% endfor %}

    {% for producto in productos %}
        $('.rating-{{producto.id}}').starrr({
            rating: {% rating_productos producto.id %},
            max: 5,
            readOnly: true,
        })
    {% endfor %}

</script>
{% block script %}

{% endblock %}

</body>
</html>
