{% extends 'Store/demo-shop-8-dashboard.html' %}
{% load static %}
<section class="page-header">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Inicio</a></li>

            <li class="active">Mi cuenta</li>
        </ul>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-push-3 my-account form-section">
            <h1 class="h2 heading-primary font-weight-normal">{% block titulo %}Editar la información de la cuenta{% endblock %}</h1>
            {% block contenido %}
                <div class="featured-box featured-box-primary featured-box-flat featured-box-text-left mt-md">
                    <div class="box-content">
                        <form action="#">

                            <h4 class="heading-primary text-uppercase mb-lg">Información de la cuenta</h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="font-weight-normal">Nombres <span
                                                class="required">*</span></label>
                                        <input type="text" name="nombres" class="form-control" value="{{ request.user.first_name }}" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="font-weight-normal">Apellidos <span
                                                class="required">*</span></label>
                                        <input type="text" name="apellidos" value="{{ request.user.last_name }}" class="form-control" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="font-weight-normal">Correo<span
                                                class="required">*</span></label>
                                        <input type="email" class="form-control" name="email" value="{{ request.user.email }}" required>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="font-weight-normal">Contraseña <span
                                                class="required">*</span></label>
                                        <input type="password" class="form-control" required>
                                    </div>
                                </div>
                            </div>

                            <div class="checkbox mb-xs">
                                <label>
                                    <input type="checkbox" value="1" id="change-pass-checkbox">
                                    Cambiar Contraseña
                                </label>
                            </div>

                            <div id="account-chage-pass">
                                <h4 class="heading-primary text-uppercase mb-lg">Cambiar Contraseña</h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="font-weight-normal">Contraseña <span
                                                    class="required">*</span></label>
                                            <input type="password" class="form-control" required>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="font-weight-normal">Confirmar Contraseña <span
                                                    class="required">*</span></label>
                                            <input type="password" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12"  style="text-align: right">
                                    <div class="form-action clearfix mt-none">
                                        <input type="submit" class="btn btn-primary" value="Guardar">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>