{% extends 'Store/demo-shop-8.html' %}
{% load static %}
{% block content %}
    <section class="form-section">
        <div class="container">
            <h1 class="h2 heading-primary font-weight-normal mb-md mt-xlg">Ingresar o Crear una cuenta</h1>

            <div class="featured-box featured-box-primary featured-box-flat featured-box-text-left mt-md">
                <div class="box-content">
                    <form action="#">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-content">
                                    <h3 class="heading-text-color font-weight-normal">Nuevos Clientes</h3>
                                    <p>Al crear una cuenta en nuestra tienda, podrá realizar el proceso de pago más rápido, almacenar varias direcciones de envío, ver y rastrear sus pedidos en su cuenta y más.</p>
                                </div>

                                <div class="form-action clearfix">
                                    <a href="/store/register/" class="btn btn-primary">Crear una cuenta</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-content">
                                    <h3 class="heading-text-color font-weight-normal">Clientes Registrados</h3>
                                    <p>Si tiene una cuenta con nosotros, inicie sesión.</p>
                                    <div class="form-group">
                                        <label class="font-weight-normal">Correo <span class="required">*</span></label>
                                        <input type="email" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label class="font-weight-normal">Contraseña <span
                                                class="required">*</span></label>
                                        <input type="password" class="form-control" required>
                                    </div>

                                    <p class="required">* Campos requeridos</p>
                                </div>

                                <div class="form-action clearfix">
                                    <a href="#" class="pull-left">¿Olvidaste tu contraseña?</a>

                                    <input type="submit" class="btn btn-primary" value="Submit">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}