{% extends 'Store/demo-shop-8-dashboard.html' %}
{% load static %}
{% block auxiliar %}
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="formModalLabel">Registrar nuevas direcciones.</h4>
                    <hr>
                </div>
                <form id="demo-form" method="post" class="form-horizontal mb-lg">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group mt-lg">
                            <label class="col-sm-3 text-left text-sm-right mb-0">Provincia <span
                                                class="required">*</span></label>
                            <div class="col-sm-9">
                                <select name="ciudad" class="js-example-basic-single form-control" required="required"
                                        multiple=multiple style="width: 100%" id="ciudad">
                                    {% for provincia in provincias %}
                                        <optgroup label="{{ provincia.nombre }}"></optgroup>
                                        {% for ciudad in provincia.ciudad_set.all %}
                                            <option value="{{ ciudad.id }}">{{ ciudad.nombre }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group mt-lg">
                            <label class="col-sm-3 text-left text-sm-right mb-0">Dirección <span
                                                class="required">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" required="required" name="direccion" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 text-left text-sm-right mb-0">Teléfono</label>
                            <div class="col-sm-9">
                                <input type="text" name="telefono" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 text-left text-sm-right mb-0">Celular</label>
                            <div class="col-sm-9">
                                <input type="text" name="celular" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 text-left text-sm-right mb-0">Activar para envio</label>
                            <div class="col-sm-9">
                                <input type="checkbox" name="envio">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 text-left text-sm-right mb-0">Observación</label>
                            <div class="col-sm-9">
                                <textarea name="observacion" id="observacion" style="resize: none; height: 100px"
                                          class="form-control"
                                          placeholder="Indique quien recibe, si es casa o apartamento, el piso, cualquier otra novedad, etc."></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Salir</button>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block titulo %}Mis direcciones{% endblock %}

{% block contenido %}
    <div class="alert alert-success mb-xlg" role="alert">
        Crea nuevas direcciones <strong> dando click en el enlace </strong> de <a href="#" data-target="#formModal"
                                                                                  data-toggle="modal">Registro</a>
    </div>
    <div class="row">
        {% for direccion in direcciones %}
            <div class="col-sm-6">
                <div class="panel-box">
                    <div class="panel-box-title">
                        <h3>
                            {{ direccion.direccion|upper }}
                            {% if direccion.envio %}
                                (Se usa para envío)
                            {% endif %}
                        </h3>
                        <a href="#" class="panel-box-edit" style="font-size: 14px"><i class="fa fa-edit"></i></a>
                    </div>

                    <div class="panel-box-content">
                        <ul style="list-style: none">
                            <li style="padding-top: 6px"><span style="font-weight: bold"><i class="fa fa-globe"></i> Pais:</span> {{ direccion.ciudad.provincia.pais.nombre }}
                            </li>
                            <li style="padding-top: 6px"><span style="font-weight: bold"><i class="fa fa-map-o"></i> Provincia: </span> {{ direccion.ciudad.provincia.nombre }}
                            </li>
                            <li style="padding-top: 6px"><span style="font-weight: bold"><i class="fa fa-map-pin"></i> Ciudad: </span>{{ direccion.ciudad.nombre }}
                            </li>
                            <li style="padding-top: 6px"><span style="font-weight: bold"><i class="phone"></i> Teléfono:</span> {{ direccion.telefono }}
                            </li>
                            <li style="padding-top: 6px"><span style="font-weight: bold"><i
                                    class="fa fa-mobile-phone"></i> Celular:</span> {{ direccion.celular }}</li>
                            {% if direccion.observacion %}
                                <li style="padding-top: 6px"><span style="font-weight: bold"><i
                                        class="fa fa-text-height"></i> Observación:</span> {{ direccion.observacion }}
                                </li>

                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'Store/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'select2/js/select2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}">
    <script>
        $(".js-example-basic-single").select2({
            maximumSelectionLength: 1
        });
    </script>
{% endblock %}
