{% extends 'Store/demo-shop-8.html' %}
{% load static %}
{% block content %}

    <div role="main" class="main">
        <div class="checkout">
            <div class="container">
                <h1 class="h2 heading-primary mt-lg mb-md clearfix">
                    Checkout
                </h1>

                <div class="checkout-menu clearfix">
                    <a href="#" class="btn btn-primary pull-left mb-sm" data-toggle="modal"
                       data-target=".shop-login-modal">LOGIN</a>

                    <div class="dropdown pull-right checkout-review-dropdown">
                        <button class="btn btn-primary mb-sm" id="reviewTable" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-shopping-cart"></i>
                            $689.00
                        </button>
                        <div class="dropdown-menu" aria-labelledby="reviewTable">
                            <h3>Review Your Order</h3>
                            <table>
                                <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th class="text-center">Qty</th>
                                    <th class="text-right">Subtotal</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>Jewellery Bracelets-M</td>
                                    <td class="text-center">1</td>
                                    <td class="text-right">$189.00</td>
                                </tr>
                                </tbody>

                                <tfoot>
                                <tr>
                                    <td class="text-right" colspan="2">Subtotal</td>
                                    <td class="text-right">$189.00</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-col">
                            <h3>Name &amp; Address</h3>

                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label>First Name<span class="required">*</span></label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label>Middle Name/Initial</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label>Last Name<span class="required">*</span></label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label>Company</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group wide">
                                        <label>Email<span class="required">*</span></label>
                                        <input type="email" class="form-control" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group wide">
                                        <label>Address<span class="required">*</span></label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group wide">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label>City<span class="required">*</span></label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label>State/Province<span class="required">*</span></label>
                                        <select class="form-control">
                                            <option value="Please select region">Please select region</option>
                                            <option value="Alabama">Alabama</option>
                                            <option value="Alaska">Alaska</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label>Zip/Postal Code<span class="required">*</span></label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label>Country<span class="required">*</span></label>
                                        <select class="form-control">
                                            <option value="United States">United States</option>
                                            <option value="China">China</option>
                                            <option value="England">England</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label>Telephone<span class="required">*</span></label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label>Fax</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="checkbox mb-sm">
                                <label>
                                    <input type="checkbox" value="1">
                                    Create an account for later use
                                </label>
                            </div>

                            <div class="checkbox mb-sm">
                                <label>
                                    <input type="checkbox" value="1">
                                    Ship to this address
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-col">
                            <h3>Shipping Method</h3>
                            <div class="ship-list">
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="shipping-method-1" name="shipping[method]"
                                               checked="checked">
                                        Flat Rate
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="shipping-method-2" name="shipping[method]"
                                               checked="checked">
                                        Fixed <span class="text-primary">$5.00</span>
                                    </label>
                                </div>
                            </div>


                            <h3 class="no-border">Discount Codes <a class="expand-plus collapsed" role="button"
                                                                    data-toggle="collapse" href="#discountArea"
                                                                    aria-expanded="false"
                                                                    aria-controls="discountArea"></a></h3>

                            <div class="collapse" id="discountArea">
                                <div class="form-group wide">
                                    <label>Enter your coupon code:</label>
                                    <input type="text" class="form-control">
                                </div>

                                <a href="#" class="btn btn-primary">Apply</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-col">
                            <h3>Payment Method</h3>

                            <div class="checkout-payment-method">
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="checkmo" name="payment[method]" checked="checked"
                                               class="payment-card-check">
                                        Check / Money order
                                    </label>
                                </div>

                                <div class="radio">
                                    <label>
                                        <input type="radio" value="checkcard" name="payment[method]"
                                               class="payment-card-check">
                                        Credit Card (saved)
                                    </label>
                                </div>

                                <div id="payment-credit-card-area">
                                    <div class="form-group wide mb-md">
                                        <label>Name on Card<span class="required">*</span></label>
                                        <input type="text" class="form-control" required>
                                    </div>

                                    <div class="form-group wide mb-md">
                                        <label>Credit Card Type<span class="required">*</span></label>
                                        <select class="form-control">
                                            <option value="&nbsp;">--Please Select--</option>
                                            <option value="AE">American Express</option>
                                            <option value="VI">Visa</option>
                                            <option value="MC">MasterCard</option>
                                        </select>
                                    </div>

                                    <div class="form-group wide mb-md">
                                        <label>Credit Card number<span class="required">*</span></label>
                                        <input type="text" class="form-control" required>
                                    </div>

                                    <div class="form-group wide mb-md">
                                        <label>Credit Card Type<span class="required">*</span></label>
                                        <div class="clearfix">
                                            <select class="form-control pull-left">
                                                <option value="&nbsp;">Month</option>
                                                <option value="1">01 - January</option>
                                                <option value="2">02 - February</option>
                                                <option value="3">03 - March</option>
                                                <option value="4">04 - April</option>
                                                <option value="5">05 - May</option>
                                                <option value="6">06 - June</option>
                                                <option value="7">07 - July</option>
                                                <option value="8">08 - August</option>
                                                <option value="9">09 - September</option>
                                                <option value="10">10 - October</option>
                                                <option value="11">11 - November</option>
                                                <option value="12">12 - December</option>
                                            </select>

                                            <select class="form-control pull-left ml-md">
                                                <option value="&nbsp;">Year</option>
                                                <option value="2017">2017</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group mb-lg">
                                        <label>Card Verification Number<span class="required">*</span></label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                            </div>

                            <div class="checkout-review-action">
                                <h5>Grand Total <span>$389.00</span></h5>
                                <a href="#" class="btn btn-primary">Place Order now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade shop-login-modal" tabindex="-1" role="dialog" aria-labelledby="myLoginModal">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">

                    <form action="#">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true"><i class="fa fa-times"></i></span></button>
                            <h4 class="modal-title" id="myLoginModal">Login to your Account</h4>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <label class="mb-xs">Email Address <span class="required">*</span></label>
                                <input type="email" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label class="mb-xs">Password <span class="required">*</span></label>
                                <input type="password" class="form-control" required>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <a href="#" class="btn btn-link pull-left" data-toggle="modal"
                               data-target=".shop-fpass-modal" data-dismiss="modal">Forget Your Password?</a>
                            <input type="submit" class="btn btn-primary" value="Login">
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="modal fade shop-fpass-modal" tabindex="-1" role="dialog" aria-labelledby="myRecoverModal">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">

                    <form action="#">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true"><i class="fa fa-times"></i></span></button>
                            <h4 class="modal-title" id="myRecoverModal">Recover your password</h4>
                        </div>

                        <div class="modal-body">
                            <p>Please enter your email address below. You will receive a link to reset your
                                password.</p>
                            <div class="form-group">
                                <label class="mb-xs">Email Address <span class="required">*</span></label>
                                <input type="email" class="form-control" required>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <a href="#" class="btn btn-link pull-left" data-toggle="modal"
                               data-target=".shop-login-modal" data-dismiss="modal"><i
                                    class="fa fa-angle-double-left mr-xs"></i>Back to Login</a>
                            <input type="submit" class="btn btn-primary" value="Recover">
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

{% endblock %}
