{% extends 'Store/demo-shop-8.html' %}
{% load static %}
{% load productosTags %}
{% block content %}
    <div class="container" style="padding-top: 30px">
        <div class="row">
            <div class="col-md-9 col-md-push-2">
                <div class="toolbar mb-none">
                    <div class="sorter">
                        <div class="sort-by">
                            <label>Sort by:</label>
                            <select>
                                <option value="Position">Posición</option>
                                <option value="Name">Nombre</option>
                                <option value="Price">Precio</option>
                            </select>
                        </div>

                        <div class="view-mode">
                            <a href="{{ request.get_full_path }}&grid" title="List">
                                <i class="fa fa-list-ul"></i>
                            </a>
                            <a href="{{ request.get_full_path }}&grid=on" title="Grid">
                                <i class="fa fa-th"></i>
                            </a>

                        </div>

                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                        </ul>

                        <div class="limiter">
                            <label>Ver:</label>
                            <select class="seleccion">
                                {% if  numero == '12' %}
                                    <option value="12" selected>12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                {% elif numero == '24' %}
                                    <option value="12">12</option>
                                    <option value="24" selected>24</option>
                                    <option value="36">36</option>
                                {% elif numero == '36' %}
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36" selected>36</option>
                                {% else %}
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>

                <ul class="products-grid columns4">
                    {% for producto in productos %}
                        <li>
                            <div class="product">
                                <figure class="product-image-area">
                                    <a href="/store/details/?hash={{ producto.hash }}" title="Product Name"
                                       class="product-image">
                                        {% if producto.imagen %}
                                            <img src="/media/{{ producto.imagen }}"
                                                 alt="Product Name">
                                            <img src="/media/{{ producto.imagen }}"
                                                 alt="Product Name" class="product-hover-image">
                                        {% else %}
                                            <img src="{% static 'noimagen.jpg' %}"
                                                 alt="Product Name">
                                            <img src="{% static 'noimagen.jpg' %}"
                                                 alt="Product Name" class="product-hover-image">
                                        {% endif %}

                                    </a>
                                    {% promocion_descuento producto.id %}
                                </figure>
                                <div class="product-details-area">
                                    <h2 class="product-name"><a href="/store/details/?hash={{ producto.hash }}"
                                                                title="Product Name">{{ producto.nombre }}</a></h2>
                                    <div class="product-ratings">
                                        <div class="rat-{{ producto.id }}">

                                        </div>
                                    </div>

                                    <div class="product-price-box">
                                        {% for precio in producto.precios_set.all %}
                                            {% if precio.web %}
                                                <span class="product-price">{{ precio.total }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <div class="product-actions">
                                        <a style="cursor: pointer" class="addtocart" title="Add to Cart"
                                           data-prod="{{ producto.id }}" data-promo="{% promocion_id producto.id %}">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>Add to Cart</span>
                                        </a>
                                        <a href="/store/details/?hash={{ producto.hash }}" class="comparelink"
                                           title="Quick View">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <div class="toolbar-bottom">
                    <div class="toolbar">
                        <div class="sorter">
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                            </ul>

                            <div class="limiter">
                                <label>Ver:</label>
                                <select class="seleccion">
                                    {% if  numero == '12' %}
                                        <option value="12" selected>12</option>
                                        <option value="24">24</option>
                                        <option value="36">36</option>
                                    {% elif numero == '24' %}
                                        <option value="12">12</option>
                                        <option value="24" selected>24</option>
                                        <option value="36">36</option>
                                    {% elif numero == '36' %}
                                        <option value="12">12</option>
                                        <option value="24">24</option>
                                        <option value="36" selected>36</option>
                                    {% else %}
                                        <option value="12">12</option>
                                        <option value="24">24</option>
                                        <option value="36">36</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <aside class="col-md-3 col-md-pull-10 sidebar shop-sidebar">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-category">
                                    Categorías
                                </a>
                            </h4>
                        </div>
                        <div id="panel-filter-category" class="accordion-body collapse in">
                            <div class="panel-body">
                                <ul>
                                    {% for categoria in categorias %}
                                        <li>
                                            <a href="/store/category/?categoria={{ categoria.id }}">{{ categoria.nombre }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-price">
                                    PRECIO
                                </a>
                            </h4>
                        </div>
                        <div id="panel-filter-price" class="accordion-body collapse in">
                            <div class="panel-body">
                                <div class="filter-price">
                                    <div id="price-slider"></div>
                                    <div class="filter-price-details">
                                        <span>Des</span>
                                        <input type="text" id="price-range-low" value="{{ min }}" class="form-control"
                                               placeholder="Min">
                                        <span>Has</span>
                                        <input type="text" id="price-range-high" value="{{ max }}" class="form-control"
                                               placeholder="Max">
                                        <a href="#" class="btn btn-primary">Busc</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-size">
                                    Tallas
                                </a>
                            </h4>
                        </div>
                        <div id="panel-filter-size" class="accordion-body collapse in">
                            <div class="panel-body">
                                <ul class="configurable-filter-list">
                                    <li>
                                        <a href="{{ request.get_full_path }}&size=s">S</a>
                                    </li>
                                    <li>
                                        <a href="{{ request.get_full_path }}&size=m">M</a>
                                    </li>
                                    <li>
                                        <a href="{{ request.get_full_path }}&size=l">L</a>
                                    </li>
                                    <li>
                                        <a href="{{ request.get_full_path }}&size=xl">XL</a>
                                    </li>
                                    <li>
                                        <a href="{{ request.get_full_path }}&size=2xl">2XL</a>
                                    </li>
                                    <li>
                                        <a href="{{ request.get_full_path }}&size=3xl">3XL</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% if excento == 1 %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-brand">
                                        {{ categoria.nombre }}
                                    </a>
                                </h4>
                            </div>
                            <div id="panel-filter-brand" class="accordion-body collapse in">
                                <div class="panel-body">
                                    <ul>
                                        {% for sub in categoria.subcategorias_set.all %}
                                            <li>
                                                <a href="/store/category/?subcategoria={{ sub.id }}">{{ sub.nombre }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-color">
                                    COLOR
                                </a>
                            </h4>
                        </div>
                        <div id="panel-filter-color" class="accordion-body collapse in">
                            <div class="panel-body">
                                <ul class="configurable-filter-list filter-list-color">
                                    {% for color in colores %}
                                    <li>
                                        <a href="{{ request.get_full_path }}&color={{ color }}">
                                            <span style="background-color: #{{ color }}"></span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </aside>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        console.log({{ request.get.list }})
        $(".seleccion").change(function () {
            let uri = "{{ request.get_full_path }}"
            uri += "&list=" + $(this).val();
            location.href = uri
        })
        let precios_rango = Array(2)
        $("#price-range-low").keyup(function () {
            precios_rango[0] = ($(this).val())
            precios_rango[1] = $("#price-range-high").val()
            let uri = "{{ request.get_full_path }}" + "&bprecio=" + precios_rango
            console.log(precios_rango, uri)
            $("#bx").attr("href", uri)
        })

        $("#price-range-high").keyup(function () {
            precios_rango[0] = $("#price-range-low").val()
            precios_rango[1] = ($(this).val())
            let uri = "{{ request.get_full_path }}" + "&bprecio=" + precios_rango
            console.log(precios_rango, uri)
            $("#bx").attr("href", uri)
        })

        {% for producto in productos %}
            $('.rat-{{producto.id}}').starrr({
                rating: {% rating_productos producto.id %},
                max: 5,
                readOnly: true,
            })
        {% endfor %}
    </script>
{% endblock %}