{% extends 'Store/demo-shop-8-dashboard.html' %}

{% load productosTags %}
{% load humanize %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-push-3 my-account form-section">
            <h1 class="h2 heading-primary font-weight-normal">{% block titulo %}Mis compras.{% endblock %}</h1>
            {% block contenido %}
                <div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead>
                        <tr>
                            <th>Fecha y Hora</th>
                            <th>No.</th>
                            <th>Subtotal</th>
                            <th>IVA</th>
                            <th>Total</th>
                            <th>Estatus</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for orden in ordenes %}
                            <tr>
                                <td>{{ orden.fecha|date:"d/m/Y H:m" }}</td>
                                <td><a href="/store/shopp/?order={{ orden.hash }}">{{ orden.hash|truncatechars:40 }}</a>
                                </td>
                                <td class="text-right">{{ orden.subtotal }}</td>
                                <td class="text-right">{{ orden.iva }}</td>
                                <td class="text-right">{{ orden.total }}</td>
                                <td class="text-center">
                                    {% if orden.por_confirmar %}
                                        <i style="font-size: 30px" class="fa fa-newspaper-o text-danger"
                                           title="Sin confirmar"></i>
                                    {% else %}
                                        <i style="font-size: 30px" class="fa fa-check-circle text-success"
                                           title="Confirmado"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <ul class="pagination pull-right">
                            {% if ordenes.has_previous %}
                                <li>
                                    <a href="?page={{ ordenes.previous_page_number }}">
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="active">
                                <a href="?page={{ ordenes.number }}">{{ ordenes.number }}</a>
                            </li>
                            {% if ordenes.has_next %}
                                <li>
                                    <a href="?page={{ ordenes.next_page_number }}">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                        </tfoot>
                    </table>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
{% block script %}
    <script>
        let uri = '{{ request.get_full_path }}'
        console.log(uri)
        $('.nav-list li').each(function () {
            console.log($(this).find('a').attr('href'))
            if ($(this).find('a').attr('href') == uri) {
                $(this).addClass('active')
            } else {
                $(this).removeClass('active')
            }
        })
    </script>
{% endblock %}