
{% extends 'Store/demo-shop-8.html' %}
{% load static %}
{% block content %}

<section class="page-header">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Inicio</a></li>

            <li class="active">Mi Tablero</li>
        </ul>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-push-3 my-account">
            <h1 class="h2 heading-primary font-weight-normal">My Dashboard</h1>
            <div class="alert alert-success success-msg mb-xl" role="alert">
                Gracias por registrarse en Eraly Store
            </div>

            <div class="alert alert-success mb-xlg" role="alert">
               ¡Hola,  <strong>cliente de Porto!</strong>  Desde el Panel de control de Mi cuenta, puede ver una instantánea de la actividad reciente de su cuenta y actualizar la información de su cuenta. Seleccione un enlace a continuación para ver o editar la información.

            </div>

            <h2 class="h3 mb-sm"><strong>Información de la cuenta</strong></h2>

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel-box">
                        <div class="panel-box-title">
                            <h3>INFORMACIÓN DEL CONTACTO</h3>
                            <a href="#" class="panel-box-edit">Editar</a>
                        </div>

                        <div class="panel-box-content">
                            <p>Name LastName<br>
                                eraly@gmail.com<br>
                                <a href="#">Cambiar Contraseña</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel-box">
                        <div class="panel-box-title">
                            <h3>BOLETINES</h3>
                            <a href="#" class="panel-box-edit">Editar</a>
                        </div>

                        <div class="panel-box-content">
                            <p>Actualmente no está suscrito a ningún boletín.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-box">
                        <div class="panel-box-title">
                            <h3>DIRECTORIO</h3>
                            <a href="#" class="panel-box-edit">Manage Addresses</a>
                        </div>

                        <div class="panel-box-content">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="h5 heading-text-color font-weight-semibold mb-xs">dirección de facturación por defecto</h4>
                                    <address>
                                        No ha establecido una dirección de facturación predeterminada.<br>
                                        <a href="#">Editar dirección</a>
                                    </address>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="h5 heading-text-color font-weight-semibold mb-xs">Dirección de entrega por defecto</h4>
                                    <address>
                                        No ha establecido una dirección de envío predeterminada.<br>
                                        <a href="#">Editar dirección</a>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-md-pull-9">
            <aside class="sidebar">

                 <h4>Mi cuenta</h4>
                <ul class="nav nav-list">
                    <li><a href="#">Panel de cuenta</a></li>
                    <li class="active"><a href="#">Información de la cuenta</a></li>
                    <li><a href="#">Directorio</a></li>
                    <li><a href="#">Mis ordenes</a></li>
                    <li><a href="#">Acuerdos de facturación</a></li>
                    <li><a href="#">Perfiles recurrentes</a></li>
                    <li><a href="#">Mis Opiniones del producto</a></li>
                    <li><a href="#">Mis etiquetas</a></li>
                    <li><a href="#">Mi lista de deseos</a></li>
                    <li><a href="#">Mis aplicaciónes</a></li>
                    <li><a href="#">Suscripciones a los boletines</a></li>
                    <li><a href="#">Mis productos descargables</a></li>
                </ul>

            </aside>
        </div>
    </div>
</div>
{% endblock %}