{% extends 'Store/demo-shop-8.html' %}
{% load static %}
{% block content %}
    {% load productosTags %}
    {% if tienda.cabecera_tienda %}
        <div class="slider-container rev_slider_wrapper">
            <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider
                 data-plugin-options="{'delay': 9000, 'gridwidth': 1270, 'gridheight': 350, 'disableProgressBar': 'on'}">
                <ul>
                    <li data-transition="fade">
                        <img src="/media/{{ tienda.cabecera_tienda }}"
                             alt=""
                             data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat"
                             class="rev-slidebg">
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
    <div class="container" style="text-align: right">
        <div class="row">
            <br>
            <div class=" col-md-4">
                <div id="header"
                     data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 147, 'stickySetTop': '-147px', 'stickyChangeLogo': false}">
                    <a href="#" class="mmenu-toggle-btn" title="Toggle menu">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="post-meta">

                    <span><i class="fa fa-street-view"
                             style="color: #cc3e1d"></i>  {{ tienda.direccion_set.all.first.ciudad.nombre }} - {{ tienda.direccion_set.all.first.direccion }} &nbsp; &nbsp; </span>
                    <span><i class="fa fa-calendar-check-o"
                             style="color: #cc3e1d"></i> Todos los días &nbsp; &nbsp; </span>
                    <span><i class="fa fa-clock-o" style="color: #cc3e1d"></i> 08H00 a 17H00 &nbsp; &nbsp; </span>
                    <span><a href="#"> <i class="fa fa-phone"
                                          style="color: #0d6287"></i></a> {{ tienda.direccion_set.first.telefono }}&nbsp; &nbsp; </span>
                    {% if tienda.facebook %}
                        <span><a href="{{ tienda.facebook }}"> <i class="fa fa-facebook" style="color: #0d6287"></i></a>&nbsp; &nbsp; </span>
                    {% endif %}

                    {% if tienda.instagram %}
                        <span><a href="{{ tienda.instagram }}"> <i class="fa fa-instagram"
                                                                   style="color: #993660"></i></a> &nbsp; &nbsp; </span>
                    {% endif %}

                    {% if tienda.youtube %}
                        <span><a href="{{ tienda.youtube }}"> <i class="fa fa-youtube" style="color: #993660"></i></a>&nbsp; &nbsp; </span>
                    {% endif %}

                </div>

            </div>


        </div>
    </div>
    <br>


    <div class="container">
        <div class="row">
            <div class="col-md-12 normal">
                <div class="tabs home-products-tab">
                    <ul class="nav nav-links">
                        <li class="active">
                            <a href="#featured" data-toggle="tab">Categoría de Productos
                                de {{ tienda.nombreComercial }}</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div id="featured" class="tab-pane active">
                            <ul class="products-grid columns4">
                                <div class="owl-carousel owl-theme"
                                     data-plugin-options="{'items': 4, 'autoplay': true, 'autoplayTimeout': 6000}">
                                    {% for ctienda in categoriaTiendas %}
                                        <div class="product">
                                            <figure class="product-image-area"
                                                    style="margin: 30px ; border: 0px solid #ddd;">
                                                <a href="/store/category/?subcategoria={{ ctienda.subcat }}" title="Product Name"

                                                   class="product-image">
                                                    <img src="/media/{{ ctienda.imagen }}" style="border-radius: 20px">
                                                    {% comment %}<img src="{% static 'Store/img/demos/shop/products/shop8/product3-2.jpg' %}"
                                                     alt="Product Name" class="product-hover-image">{% endcomment %}
                                                </a>

                                            </figure>
                                            <div class="product-details-area">
                                                <h2 class="product-name"><a href="/store/category/?categoria={{ ctienda.subcat }}"
                                                                            title="Product Name">{{ ctienda.nombre }}</a>
                                                </h2>
                                            </div>
                                        </div>
                                    {% endfor %}


                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="banner-container">
            <a class="banner">
                <img src="/media/{{ tienda.banner1 }}" alt="Banner">
                <br>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div>
                <ul class="portfolio-list sort-destination">
                    <li class="col-md-4 isotope-item brands">
                        <div class="portfolio-item">
                            <a href="/store/details/?hash={{ pestrella.first.hash }}">
                                <span class="thumb-info   thumb-info-zoom" style="border: 0px !important;">
                                    <span class="thumb-info-lighten">
                                        <img src="/media/{{ pestrella.first.imagen }}" class="img-responsive" alt="">
                                    </span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="col-md-8 isotope-item medias">
                        <div class="portfolio-item">
                                <span class="thumb-info  thumb-info-zoom" style="border: 0px !important;">
                                    <span class="thumb-info-lighten">
                                        <span class="owl-carousel owl-theme nav-inside m-none"
                                              data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 3000}">
                                            {% for estrella in pestrella %}
                                                <span>
                                             <div class="feature-box feature-box-style-2 feature-box-secondary">
                                                 <div class="row">
                                                     <div class="col-md-6">
                                                         <div class="thumb-info-zoom">
                                                            <img src="/media/{{ estrella.imagen }}"
                                                                 class="img-responsive">
                                                        </div>
                                                     </div>
                                                     <div class="col-md-6">
                                                         <div class="feature-box-info">
                                                             <span class="mb-sm">{{ estrella.nombre|upper }}</span>
                                                            <p class="mb-lg">{{ estrella.descripcion|safe|truncatechars:200 }}</p>
                                                        </div>
                                                     </div>
                                                 </div>
                                                </div>
                                            </span>
                                            {% endfor %}
                                        </span>

                                    </span>
                                </span>
                        </div>

                    </li>

                </ul>
            </div>
        </div>
    </div>
    <style>
        .feature-box.feature-box-style-2 .feature-box-info {
            padding-left: 0px;
        }

        .feature-box .feature-box-info {
            padding-left: 0px;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="owl-carousel owl-theme"
                     data-plugin-options="{'items': 1, 'autoplay': true, 'autoplayTimeout': 3000}">
                    {% for pu in imagnes %}
                        <a >
                            <img class="product-image"
                                 src="/media/{{ pu.imagen }}"
                                 alt="Banner">
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="banner-container">
                    <a class="banner">
                        <img src="/media/{{ tienda.banner2 }}" alt="Banner">
                        <br>
                    </a>
                </div>
            </div>

        </div>

    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-12 normal">
                <div class="tabs home-products-tab">
                    <ul class="nav nav-links">

                        <li>
                            <a href="#latest" data-toggle="tab">Productos Destacados </a>
                        </li>
                    </ul>
                </div>

                <ul class="products-grid columns4">
                    {% for prod in de4y5 %}
                        <li>
                            <div class="product">
                                <figure class="product-image-area thumb-info-zoom product-img-zoom ">
                                    <a href="/store/details/?hash={{ prod.hash }}" title="{{ prod.nombre }}"
                                       class="product-image">
                                        <img src="/media/{{ prod.imagen }}"
                                             alt="Product Name">
                                    </a>

                                </figure>
                                <div class="product-details-area">
                                    <h2 class="product-name"><a href="/store/details/?hash={{ prod.hash }}"
                                                                title="{{ prod.nombre }}">{{ prod.nombre }}</a></h2>
                                    <div class="product-ratings">
                                        <div>
                                            <div class="rat-{{ prod.id }}"></div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </li>
                    {% endfor %}


                </ul>

            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'starrr/starrr.js' %}"></script>
    <script>
        {% for puntuado in de4y5 %}
            $('.rat-{{puntuado.id}}').starrr({
                rating: {% rating_productos puntuado.id %},
                max: 5,
                readOnly: true,
            })
        {% endfor %}

    </script>
{% endblock %}